<!-- Footer -->

<footer id="footer" class="phdessay__footer">
    <!-- footer cta block-->
    <div class="footer-banner bottom-fixed-banner">
        <div class="footer-banner-close" id="banner-close">
            <img src="img/footer/x.svg" alt="close">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-xs hidden-sm text-right"><p>Haven't found the Essay You Want?</p></div>
                <div class="col-md-4"><a class="samurai-btn btn btn-primary" href="" rel="nofollow">Get your Custom Essay Sample!</a></div>
                <div class="col-md-4 hidden-xs hidden-sm text-left"><p>For Only <strong>$13.9/page</strong></p></div>
            </div>
        </div>
    </div>
    <!-- //footer cta block-->

    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="phdessay__footer-widget phdessay__footer-widget-about">
                    <h4>
                        About PhDessay.com
                    </h4>
                    <p>
                        PhDessay is an educational resource where over 40,000 free essays are collected. Scholars can use them for free to gain inspiration and new creative ideas for their writing assignments.
                    </p>
                    <a href="#" class="btn btn-info">Read more</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="phdessay__footer-widget phdessay__footer-widget-contact">
                    <h4>
                        Contact Us
                    </h4>
                    <ul class="contacts">
                        <li class="web-address"><a href="#">PhDessay.com</a></li>
                        <li class="email"><a href="#">info@phdessay.com</a></li>
                        <li class="address">6000 Fairview Road, SouthPark Towers, Suite 1200, Charlotte, NC 28210, USA</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="phdessay__footer-widget phdessay__footer-widget-form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-12">Your Name <span>(required)</span></label>
                            <div class="col-sm-12"><input type="password" class="form-control" id="inputName" placeholder="Nikolas"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-12">Your Email <span>(required)</span></label>
                            <div class="col-sm-12"><input type="password" class="form-control" id="inputEmail" placeholder="mail@mail.com"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputSubj" class="col-sm-12">Subject</label>
                            <div class="col-sm-12"><input type="password" class="form-control" id="inputSubj" placeholder="Thanks"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputText" class="col-sm-12">Message</label>
                            <div class="col-sm-12"><textarea class="form-control" id="inputText" rows="6"></textarea></div>
                        </div>
                        <button type="submit" class="btn btn-info">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 copyright">
                PhDessay.Com © Copyright 2016-2017
            </div>
        </div>
    </div>
</footer>

<div id="chat">
    <div class="chat__massage">
        <div class="chat__close"></div>
        <div class="chat__title">
            <div class="row">
                <div class="col-xs-3">
                    <img src="img/footer/chat.svg" alt="chat">
                </div>
                <div class="col-xs-9">
                    <div class="chat__from">
                        Jennyfer
                        <span>from PhDessay</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat__body">
            <div class="row">
                <div class="col-xs-3">
                    <img src="img/footer/chat.png" alt="Jennyfer" class="img-responsive">
                </div>
                <div class="col-xs-9 padding0">
                    <div class="chat__massage-item">
                        Hi! We can edit and customize this paper for you.
                    </div>
                    <div class="chat__massage-item">
                        Just send your request for getting no plagiarism essay
                        <a href="https://goo.gl/Crty7Tt" rel="nofollow">https://goo.gl/Crty7Tt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat__icon">
        <a href="javascript:void(0)" class="char__round" data-count-massage="1"></a>
    </div>
</div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jssocials.js"></script>
<script src="js/detectizr.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>


