<nav>
    <ul class="paginate list-inline meta">
        <li><span class="page-numbers current">1</span></li>
        <li><a class="page-numbers" href="">2</a></li>
        <li><a class="page-numbers" href="">3</a></li>
        <li><span class="page-numbers dots">…</span></li>
        <li><a class="page-numbers" href="">43</a></li>
        <li><a class="page-numbers" href="">44</a></li>
        <li><a class="page-numbers" href="">45</a></li>
    </ul>
</nav>