/* Phdessay 404*/

.phdessay__404{

  &-content{
    @media screen and (max-width: 767px){
      margin-top: 35px;
    }
      h1{
        font-size: 21px;
        letter-spacing: 0.1px;
        text-align: center;
        color: #000000;
        margin-top: 15px;

        @media screen and (max-width: 480px){
          font-size: 16px;
          letter-spacing: 0.1px;
          text-align: center;
        }
      }
  }
  
  
  &-form{
    position: relative;
    margin-top: 35px;
    margin-bottom: 27px;

    button {
      img{
        display: inline-block;
        padding-right: 4px;
        @media screen and (max-width: 767px){
          display: none;
        }
      }
    }
  }

}