/* Phd Banners */

.phdessay__article-cta{
  border-radius: 5px;
  background-color: #fffcee;
  border: solid 1px #ede8be;
  background-image: url(../../img/banners/cta2x.png);
  background-position: left 55px center;
  background-repeat: no-repeat;
  background-size: 170px;
  padding: 23px 20px 10px 234px;
  margin-bottom: 14.5px;

  .title{
    font-size: 18px;
    text-align: left;
    color: #3e3d34;
  }

  .title-main{
    font-size: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #3e3d34;
  }

}


/* SIDEBAR BANNER */

.sidebar__cta{
  margin-top: 45px;
  border-radius: 5px;
  background-color: #fffcee;
  border: solid 1px #ede8be;
  background-image: url(../../img/banners/books@2x.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 173px;
  padding: 30px 0 27px 203px;
  margin-bottom: 14.5px;

  .title{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3e3d34;
    line-height: 1;
  }
}


/* BLOG CTA */

.phdessay__blog-cta{
  border-radius: 5px;
  background-color: #47b1e7;
  border: solid 1px #329cd2;
  background-image: url(../../img/banners/laptop@2x.png);
  background-size: contain;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding: 18px 20px 26px 263px;
  margin-bottom: 25px;

  .title{

    &-top{
      font-size: 16px;
      font-weight: normal;
      color: #ffffff;
      line-height: 1.69;
      margin-top: 10px;
    }

    &-middle{
      font-size: 16px;
      font-weight: normal;
      color: #ffffff;
      line-height: 1.69;
    }

    &-bottom{
      font-size: 16px;
      font-weight: normal;
      line-height: 1.25;
      color: #ffffff;
    }


  }

  .title-main{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.29;
    text-align: left;
    color: #b2e5ff;
  }

  .btn-success{
    width: 123px;
    height: 35px;
    line-height: 34px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){

  .phdessay__article-cta{
    border-radius: 5px;
    background-color: #fffcee;
    border: solid 1px #ede8be;
    background-image: url(../../img/banners/cta2x.png);
    background-position: left 55px center;
    background-repeat: no-repeat;
    background-size: 170px;
    padding: 23px 50px 10px 265px;
    margin-bottom: 14.5px;

    .title{
      font-size: 18px;
      text-align: left;
      color: #3e3d34;
    }

    .title-main{
      font-size: 30px;
      letter-spacing: 0;
      text-align: left;
      color: #3e3d34;
    }

  }


  .sidebar__cta{
    background-size: 130px;
    padding: 30px 0 27px 150px;


    .title{
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3e3d34;
      line-height: 1;
    }
  }


  /* BLOG CTA */

  .phdessay__blog-cta{
    background-size: 220px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 18px 20px 26px 200px;


    .title{
      &-top{
        font-size: 15px;
      }

      &-middle{
        font-size: 15px;
      }

      &-bottom{
        font-size: 15px;
      }

    }

    .title-main{
      font-size: 20px;
    }

    .btn-success{
      width: 123px;
      height: 35px;
      line-height: 34px;
    }
  }

}



/*TABLE*/

@media screen and (min-width: 768px) and (max-width: 991px){

  .phdessay__article-cta{
    background-position: left 15px center;
    background-repeat: no-repeat;
    background-size: 140px;
    padding: 23px 50px 10px 150px;

    .title{
      font-size: 14px;
    }

    .title-main{
      font-size: 18px;
      font-weight: 700;
    }

  }


  .sidebar__cta{
    background-size: 120px;
    background-position: left bottom 0;
    padding: 18px 0 10px 140px;
    .btn-success{
      width: auto;
      max-width: 120px;
    }
  }


  /* BLOG CTA */

  .phdessay__blog-cta{
    background-size: 250px;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 200px 20px 26px 20px;


    .title{
      &-top{
        font-size: 15px;
        text-align: center;
      }

      &-middle{
        font-size: 15px;
        text-align: center;
      }

      &-bottom{
        font-size: 15px;
        text-align: center;
      }

    }

    .title-main{
      font-size: 20px;
      text-align: center;
    }

    .btn-success{
      width: 123px;
      height: 35px;
      line-height: 34px;
      margin: 20px auto 0 auto;
    }
  }


}



/*MOBILE*/

@media screen and (max-width: 767px){

  .phdessay__article-cta{
    border-radius: 5px;
    background-color: #fffcee;
    border: solid 1px #ede8be;
    background-image: url(../../img/banners/cta2x.png);
    background-position: top 10px center;
    background-repeat: no-repeat;
    background-size: 170px;
    padding: 201px 18px 17px 18px;
    margin-bottom: 14.5px;

    .title{
      font-size: 14px;
      text-align: center;
      color: #3e3d34;
    }

    .title-main{
      font-size: 24px;
      line-height: 1.33;
      letter-spacing: 0;
      text-align: center;
      color: #3e3d34;
    }

    .btn-success{
      display: block;
      margin: 15px auto 0 auto;
      font-size: 16px;
    }

  }


  .sidebar__cta{
    background-size: 144px;
    background-position: left bottom 0;
    padding: 30px 0 27px 164px;
    margin-bottom: 19px;
    .btn-success{
      width: 106.1px;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
      letter-spacing: 0;
      text-align: center;
      color: #ffffff;
    }
  }


  /* BLOG CTA */

  .phdessay__blog-cta{
    background-size: 250px;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 200px 20px 26px 20px;


    .title{
      &-top{
        font-size: 14px;
        text-align: center;
      }

      &-middle{
        font-size: 14px;
        text-align: center;
      }

      &-bottom{
        font-size: 14px;
        text-align: center;
      }

    }

    .title-main{
      font-size: 18px;
      font-weight: bold;
      line-height: 1.17;
      text-align: center;
    }

    .btn-success{
      width: 123px;
      height: 35px;
      line-height: 34px;
      margin: 20px auto 0 auto;
    }
  }

}