/* Phdessay SEARCH */


.phdessay__flashcard {


  &-content{
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #eaecf0;
    padding: 21.5px 33px;
    font-size: 16px;
    margin-bottom: 14.5px;
    @media screen and (max-width: 767px){
      font-size: 14px;
    }

    @media screen and (max-width: 767px){
      padding: 10px 15px;
    }

    p {
      font-size: 16px;
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }

  }

  &-title{
    font-size: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    border-bottom: solid 1px #e1e1e1;
    padding-bottom: 10px;

    @media screen and (min-width: 992px){
      padding-left: 14px;
    }

  }

  .phd-vc_row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: solid 1px #e1e1e1;
    margin: 0;
    width: 100%;

    @media screen and (max-width: 767px){
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .first-col{
    display: none;
    width: 0;
    @media screen and (max-width: 767px){
     padding: 0!important;
    }

    img{
      display: block;

      @media screen and (min-width: 768px){
        margin: 10px auto;
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }

      @media screen and (max-width: 767px){
        max-width: 100%;
        height:auto;
      }
    }
  }

  .phd-flex-item{
    width: 50%;
    flex-basis: 50%;
    max-width: 50%;
    text-align: left;

    &:nth-child(2){
      padding: 20px 15px;
    }

    &:nth-child(3){
      padding: 20px 15px;
    }
  }

  .first-col.width-33{
    width: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
    display: block;
  }

  .phd-flex-item.width-33{
    width: 33.33333333%;
    flex-basis:33.33333333%;
    max-width: 33.33333333%;

    &:nth-child(1){
      padding: 13px 14px;
    }

    &:nth-child(3){
      padding: 13px 14px;
    }
  }


  .phd-central-block {
    background-color: rgba(216, 214, 214, 0.36);
    border: 1px solid #edecec;
    padding: 13px 14px;
  }

}



/* Mobile */
@media screen and (max-width: 767px){
  .phdessay__flashcard{
    .phd-vc_row-flex{
      .phd-flex-item:nth-child(1){
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
        display: block;
      }
      .phd-flex-item:nth-child(2){
        width: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-bottom: 65px;
        display: block;
      }

      .phd-flex-item:nth-child(3){
        width: 50%;
        flex-basis: 50%;
        max-width: 50%;
        padding-bottom: 65px;
        display: block;
      }
    }
  }


}