/* phdessay Hero Header */

.phdessay__hero {
  width:100%;
  padding-top: 130px;
  background: #000;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 45px;

  @media screen and (min-width: 768px){
    min-height: 750.8px;
    padding-bottom: 45px;
  }

  &-header {
    @extend .reset;
    font-size: 36px;
    line-height: 1.39;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    position: relative;
    font-weight: 400;
  }

  &-specialty{
    padding-top: 34px;

    h2 {
      font-family: 'Droid Sans', sans-serif;
      font-size: 21px;
      text-align: center;
      color: #ffffff;
      font-weight: 400;
    }

    p{
      font-family: 'Droid Sans', sans-serif;
      font-size: 13px;
      line-height: 1.38;
      text-align: center;
      color: #cecece;
    }

    @media screen and (min-width: 992px){
      &-item{
        padding: 0 45px;
      }
    }
    @media screen and (min-width: 1200px) {
      &-item {
        &:nth-child(1) {
          &:after {
            content: "";
            display: block;
            height: 50.9px;
            opacity: 0.4;
            background-color: #ffffff;
            width: 1px;
            position: absolute;
            right: 0;
            bottom: 25px;
          }
        }

        &:nth-child(2) {
          &:after {
            content: "";
            display: block;
            height: 50.9px;
            opacity: 0.4;
            background-color: #ffffff;
            width: 1px;
            position: absolute;
            right: 0;
            bottom: 43px;
          }
        }
      }
    }

  }

  &-form {
    margin-top: 40px;

    @media screen and (min-width: 992px){
      &-item{
        margin-top: 72px;
      }
    }

    .phdessay-form-button img{
      padding-right: 8px;
      display: inline-block;

      @media screen and (max-width: 767px){
        display: none;
      }
    }

  }

}

/* phdessay__about section */

.phdessay__about {
  padding: 25px 0;

  @media screen and (min-width: 768px){
    max-height: 275px;
    padding: 0;
  }

  &-slider{
    z-index:999;
    position: relative;
    @media screen and (min-width: 768px){
      transform: translateY(-80px);
      box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);
      border-radius: 5px;
    }
    &-item{
      margin: 0;
    }
  }

  &-img {
    border-radius: 5px 0 0 5px;
    .backgr{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 5px 0 0 5px;
    }

  }
  &-text{
    @media screen and (min-width: 768px){
      padding:28px 25px 28px 30px;
      background: #ffffff;
      border-radius: 0px 5px 5px 0;
    }
    h3{
      margin: 0;
      font-family: 'Droid Sans', sans-serif;
      font-size: 36px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #000000;
      @extend .after;
    }
  }


  & .slick-initialized .slick-slide {
    display: flex;
  }

}

/* phdessay-milistones section */

.phdessay-milistones{
  background-color: #fffbd9;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.09);
  z-index: 1;
  position: relative;
  padding: 25px 0;
  @media screen and (min-width: 768px){
    &:after{
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right:0;
      top: 0;
      bottom:0;
      background-image: url(../../img/bg/trophy.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  h4{
    font-family: 'Droid Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    margin: 0;
    @extend .after;

    &:after{
      margin: 9px 0 10px 0;
    }

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }
  }

  p{
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0;
    text-align: left;
    color: #373737;
    margin: 0;

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }
  }
  &-items{
    margin-top: 16.5px;
    margin-bottom: 23.5px;
    @media screen and (min-width: 768px){
      display: flex;

      & .col-sm-4{
        display: flex;
      }
    }
  }

  &-item{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);
    padding: 20.5px 30px;
    @media screen and (max-width: 767px){
      margin: 10px 0;
    }

    p{
      padding: 0;
      font-size: 13px;
      line-height: 1.46;
      text-align: left;
      color: #565656;
    }

    & .flex-row{
      justify-content: center;
      align-items: center;
    }
  }

  &-title{
    font-size: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    padding-top: 15px;
    border-top: solid 1px #e1e1e1;
    padding-bottom: 10px;
  }

  &-num{
    font-family: 'Droid Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffaf32;
    padding: 0;

    @media screen and (min-width: 992px){
        font-size: 64px;
    }
  }

  &-img{
    text-align: center;
  }
}

/* phdessay-happy section */

.phdessay-happy{
  background-color: #d6f5b3;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.09);
  z-index: 1;
  position: relative;
  padding: 25px 0 103px 0;
  @media screen and (min-width: 768px){
    &:after{
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right:0;
      top: 0;
      bottom:0;
      background-image: url(../../img/bg/man.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  h4{
    font-family: 'Droid Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    margin: 0;

    @extend .after;
    &:after{
      margin: 9px 0 10px 0;
    }

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }

  }

  p{
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0;
    text-align: left;
    color: #373737;
    margin: 0;

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }
  }

  &-items{
    margin-top: 16.5px;
    margin-bottom: 23.5px;
    .col-xs-9{
      padding-left: 0;
    }
  }

  &-item{
    display: flex;
    flex: 1;
    p{
      padding: 0;
      font-size: 15px;
      line-height: 1.4;
      text-align: left;
      color: #565656;
      margin-top: 14px;
    }

    & .flex-row{
      justify-content: center;
      align-items: center;
    }
  }

  &-content{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);
    padding: 18px 30px 21px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:100%;
    @media screen and (max-width: 767px){
      margin: 15px 0;
    }

  }

  &-name {
    font-size: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    font-family: 'Droid Sans', sans-serif;
  }

}




/* phdessay-blog section */
.phdessay-blog{
  padding: 28px 0 35px 0;
  min-height: 500px;
  h4{
    font-family: 'Droid Sans', sans-serif;
    font-size: 36px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    margin: 0;

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }

    @extend .after;

    &:after{
      margin: 9px 0 10px 0;
    }

  }

  p{
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0;
    text-align: left;
    color: #373737;
    margin: 0;

    @media screen and (min-width: 768px){
      padding-left: 30px;
    }
  }


  @media screen and (min-width: 768px){
    & .slick-initialized .slick-slide {
      display: flex;
    }
  }

  .blog-header-tab {
    display: none;

    &.active{
      display: block;
    }
  }

  .recent-header-tab {
    display: none;

    &.active{
      display: block;
    }
  }


  @media screen and (max-width: 767px) {
    &-flex{
      display: flex;
      flex-direction: column;

      &-top{
        order: 1;
      }

      &-bottom{
        order: 2;
      }

      .nav-tabs{
          margin: 0 0 10px 0;
      }

      .js-header{
        margin-top: 21px;
      }
    }
  }





}


.phdessay-card {

  @media screen and (min-width: 1200px) {
    &-thumb {
      border-radius: 5px 5px 0 0;
      min-height: 240px;
      img {
        border-radius: 5px 5px 0 0;
        min-height: 240px;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    &-thumb {
      border-radius: 5px 5px 0 0;
      img {
        border-radius: 5px 5px 0 0;
      }
    }
  }

  @media screen and (max-width: 991px) {

    img {
      border-radius: 5px 5px 0 0;
    }
  }


  &-items{
    margin-top: 16.5px;
    margin-bottom: 23.5px;

    .slick-track {
      position: relative;
      left: 0;
      top: 0;
    }

    @media screen and (min-width: 768px){
      .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: flex;
      }
      .slick-list{
        display: flex;
      }
    }
  }

  &-item{
    display: flex;

    @media screen and (max-width: 767px){
      margin: 0 0 16.5px 0;
    }

  }


  &-content {
    padding: 0 0 17.7px 0;
    justify-content: flex-start;

    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e0e2e8;


    p {
      margin-top: 9px;

      @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 1.36;
        text-align: left;
        color: #565656;
      }

      padding: 10px 0 0 0;
      font-size: 16px;
      line-height: 1.31;
      text-align: left;
      color: #565656;
      border-top: solid 1px #e1e1e1;
      margin-bottom: 29px;

    }

    & .flex-row{
      justify-content: center;
      align-items: center;
    }

  }

  &-body {
    padding: 20px 33px;
    max-height: 240px;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      display: block;
      text-align: center;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.72) 18%, #fff 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35px;
      transition: all 0.3s ease;
      padding-top: 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 13px 18px;
    }
  }


  &-cats{
    padding: 0;
    margin: 5pч 0 10px 0;
    list-style: none;
    li{
      a {
        font-size: 13px;
        line-height: 1.46;
        text-align: left;
      }
    }
  }

  &-read{
    display: inline-block;
    padding-left: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBjeD0iNi40MjUiIGN5PSI2LjQyNSIgcj0iNi40MjUiIGZpbGw9IiNGRkFGMzIiLz4KICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIGQ9Ik01IDNsMy40MTUgMy40MTUtMy4zMDIgMy4zMDIiLz4KICAgIDwvZz4KPC9zdmc+Cg==");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    font-size: 13px;
    line-height: 1.46;
    text-align: left;
  }

  &-title {
    font-size: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    line-height: 1.3;
    font-family: 'Droid Sans', sans-serif;
    color: #000000;

    @media screen and (max-width: 992px) {
      font-size: 18px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: #000000;
      transition: all 0.5s ease;

      &:hover {
        color: #ffa417;
      }
    }
  }

  &-read {
    margin-left: 34px;
    margin-top: 4px;
  }
}



.slick-dots {
  bottom: -55px;
  li {
    position: relative;
    width: 22px;
    height: 22px;

    &:before{
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: #FFAF32;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
    }

    svg{
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    &.slick-active {
      width: 22px;
      height: 22px;

      &:before{
        opacity: 1;
      }

      svg {
        width: 20px;
        height: 20px;
        circle {
          stroke-dasharray: 100;
          stroke-dashoffset: 100;
          -webkit-animation: draw 13.5s infinite;
          animation: draw 13.5s infinite;
        }
      }

    }
  }
}


@keyframes draw{
  from{
    stroke-dashoffset: 100;
  }
  to{
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw{
  from{
    stroke-dashoffset: 100;
  }
  to{
    stroke-dashoffset: 0;
  }
}
