.jssocials-share-twitter .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-twitter .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-facebook .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-facebook .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-googleplus .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-googleplus .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-linkedin .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-linkedin .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-pinterest .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-pinterest .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-email .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-email .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-stumbleupon .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-stumbleupon .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-whatsapp .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-whatsapp .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-telegram .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-telegram .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-line .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-line .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-viber .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-viber .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-pocket .jssocials-share-link {
  background: #2B2B2B
}

.jssocials-share-pocket .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-messenger .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-messenger .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-vkontakte .jssocials-share-link {
  background: #2B2B2B;
}

.jssocials-share-vkontakte .jssocials-share-link:hover {
  background: #2B2B2B;
}

.jssocials-share-link {
  padding: .5em .6em;
  color: #fff;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active {
  color: #fff;
}

.jssocials-share-count-box {
  position: relative;
  height: 2.5em;
  padding: 0 .3em;
  margin-left: 0.3em;
  background: #f5f5f5;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.jssocials-share-count-box:hover {
  background: gainsboro;
}

.jssocials-share-count-box:hover:after {
  border-color: transparent gainsboro transparent transparent;
}

.jssocials-share-count-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.85em;
  left: -0.3em;
  width: 0;
  height: 0;
  border-width: 0.4em 0.4em 0.4em 0;
  border-style: solid;
  border-color: transparent #f5f5f5 transparent transparent;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

.jssocials-share-count-box .jssocials-share-count {
  line-height: 2.5em;
  color: #444;
}
