/* Phdessay BLOG  */

.phdessay__page {

  &-blog {

    .phdessay-card {

      @media screen and (min-width: 1200px) {
        &-thumb {
          border-radius: 5px 5px 0 0;
          min-height: 240px;
          img {
            border-radius: 5px 5px 0 0;
            min-height: 240px;
          }
        }
      }

      @media screen and (max-width: 1199px) {
        &-thumb {
          border-radius: 5px 5px 0 0;
          img {
            border-radius: 5px 5px 0 0;
          }
        }
      }

      @media screen and (max-width: 991px) {

        img {
          border-radius: 5px 5px 0 0;
        }
      }

      &-content {
        padding: 0 0 17.7px 0;
        justify-content: flex-start;

        p {
          margin-top: 9px;

          @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 1.36;
            text-align: left;
            color: #565656;
          }
        }

      }

      &-body {
        padding: 17.7px 34px;
        max-height: 180px;
        overflow: hidden;
        position: relative;

        &:after {
          content: "";
          display: block;
          text-align: center;
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.72) 18%, #fff 100%);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 35px;
          transition: all 0.3s ease;
          padding-top: 10px;
        }

        @media screen and (max-width: 767px) {
          padding: 13px 18px;
        }
      }

      &-title {
        font-size: 21px;
        letter-spacing: 0.1px;
        text-align: left;
        line-height: 1.1;

        @media screen and (max-width: 992px) {
          font-size: 18px;
        }

        @media screen and (max-width: 767px) {
          font-size: 18px;
        }

        a {
          text-decoration: none;
          color: #000000;
          transition: all 0.5s ease;

          &:hover {
            color: #ffa417;
          }
        }
      }

      &-read {
        margin-left: 34px;
        margin-top: 4px;
      }
    }

    .phdessay__article-cta {
      margin-top: 31.5px;
      margin-bottom: 2.5px;
    }

    .phdessay__article-list-item {
      margin-top: 22.5px;

      &:first-child {
        margin-top: 0;
      }
    }

  }

  .phdessay-card-flex {
    display: flex;
    flex-wrap: nowrap;

    @media screen and (max-width: 767px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

}