/* Phdessay Catalog */

.phdessay__page {
  position: relative;
  padding-top: calc(26px + 61px);
  padding-bottom: 103px;
  background-color: #fafafa;

  h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    margin: 10px 0 0 0;

    @media screen and (max-width: 767px){
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0;
      text-align: left;
      color: #000000;
    }

  }


  &-essay{
    & .phdessay-card{

      &-item{
        margin-bottom: 15.6px;

        &:last-child{
          margin-bottom: 0;
        }
      }

      &-title{
        margin-bottom: 10px;
        a{
          font-size: 21px;
          letter-spacing: 0.1px;
          text-align: left;
          color: #000000;
          transition: all 0.6s ease;
          @media screen and (max-width: 767px){
            font-size: 18px;
            letter-spacing: 0.1px;
            line-height: 1;
          }

          &:hover{
            color: $pr_colr;
            text-decoration: none;
          }

        }
      }


      &-content{
        p{
          margin-top: 3px;
          margin-bottom: 12px;
          font-size: 16px;
          line-height: 1.31;
          text-align: left;
          color: #565656;

          @media screen and (max-width: 767px){
            font-size: 14px;
            line-height: 1.36;
          }
        }
        @media screen and (max-width: 767px){
          padding: 17.5px 15px;
        }

      }


    }
  }
}



