/* Phdessay Service*/

.phdessay__article-single-content{
  padding-bottom: 50px;
}

.service{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 0 40px 0;

  @media screen and (max-width: 767px){
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 991px){
    flex-direction: column;
  }

  &-wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 96, 7, 0.17);
    padding: 25.5px 21px 0 21px;

    @media screen and (min-width: 768px) and (max-width: 991px){
      width: 100%;
    }

    img{
      display: block;
      margin: 0 auto;
    }

    & .row{
      margin: 0;

      .col-sm-3{
        padding: 0;
      }

      @media screen and (min-width: 1200px){
        .col-sm-9{
          padding-left: 8px;
          padding-right: 0;
        }
      }

      @media screen and (max-width: 767px){
        .col-sm-9{
          padding-left: 8px;
          padding-right: 0;
        }
      }
    }

    &.left{
      background-color: #ffebeb;

      p{
        font-size: 16px;
        line-height: 1.38;
        text-align: left;
        color: #a91c1c;
        margin-bottom: 10px;

        @media screen and (max-width: 480px){
          font-size: 14px;
        }
      }

      .service-item {
        &:not(:last-child){
          border-bottom: solid 1px #e7b5b5;
        }

        @media screen and (max-width: 767px){
          padding-bottom: 14px;
        }
      }

      @media screen and (min-width: 1200px){
        margin-right: 30px;
      }

      @media screen and (max-width: 767px){
        margin-bottom: 20px;
      }

      @media screen and (min-width: 768px) and (max-width: 991px){
        margin-bottom: 20px;
      }

      @media screen and (min-width: 992px) and (max-width: 1199px){
        margin-right: 15px;
      }

    }

    &.right{
      background-color: #efffee;


      p{
        font-size: 16px;
        line-height: 1.38;
        text-align: left;
        color: #007f1e;
        margin-bottom: 10px;
        @media screen and (max-width: 480px){
          font-size: 14px;
        }
      }
      .service-item {
        &:not(:last-child){
          border-bottom: solid 1px #b7cfb7;
        }

        @media screen and (max-width: 767px){
          padding-bottom: 14px;
        }
      }



    }
  }


  &-item{
    &:not(:first-child){
      padding-top: 19px;

      @media screen and (max-width: 767px){
        padding-top: 15px;
      }
    }

    @media screen and (min-width: 1200px){
      min-height: 125px;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px){
      min-height: 175px;
    }

  }
}