/* Styles for dialog window */

.mfp-bg {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.phdessay__popup {
  margin: 40px auto;
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);

  &-copy {
    max-width: 612px;
  }

  &-exit {
    max-width: 417px;

    .h2 {
      font-size: 21px;
      letter-spacing: 0.1px;
      text-align: center;
      color: #000000;
      margin: 0;
      line-height: 1;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }

    }

    .h4 {
      font-size: 16px;
      line-height: 1.31;
      text-align: center;
      color: #ffa417;
      margin: 0;
    }
    img{
      margin-bottom: 18px;
    }

    a.btn{
      width: 105px;
      height: 43px;
      line-height: 43px;
      padding: 0;
      margin-top: 16px;

      font-size: 13px;
      letter-spacing: 0;
      color: #ffffff;
    }

  }

  &-form {
    position: relative;
    max-width: 363px;
    margin: 0 auto;

    input {
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #e0e2e8;
      height: 43px;
      line-height: 43px;
    }

    button {
      height: 43px;
      display: block;
      line-height: 43px;
      max-width: 81px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #ffaf32;
      font-family: 'Droid Sans', sans-serif;
      font-size: 15px;
      letter-spacing: 0;
      color: #ffffff;
      padding: 0;
      border: 0;
      transition: all 0.3s ease;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;

      &:focus, &:active {
        outline: 0;
        background-color: #fe9b00;
      }
    }

  }

  &-heading {
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);
    padding: 24px 0 18px 0;

    &.exit-heading{

    }

    .h5 {
      font-size: 21px;
      letter-spacing: 0.1px;
      text-align: center;
      color: #000000;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  &-body {
    padding: 41px 55px 30px 55px;

    @media screen and (max-width: 767px) {
      padding: 20px 15px 15px 15px;
    }

    &.body-exit{
      padding-top: 32px;
    }
  }

  &-topic {
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #565656;
    margin-bottom: 21px;
  }

  &-end {
    margin-top: 23px;
    font-size: 13px;
    line-height: 1.62;
    text-align: center;
    color: #ffa417;
  }

  @media screen and (min-width: 768px) {
    .mfp-close {
      width: 32px;
      height: 32px;
      right: -28px;
      top: -28px;
      color: #fff;
      font-size: 32px;
      font-weight: 300;
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    .mfp-close {
      right: 0;
      top: -35px;
      color: #fff;
      opacity: 1;
      width: 16px;
      font-size: 28px;
    }
  }
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* animate out */

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
 * Fade-move animation for second dialog
 */

/* at start */

.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */

.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}