/* Responsive */

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {
  /*HERO*/
  .phdessay__hero {
    padding-top: 90px;

    &-header{
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 0.1px;
    }

    &-specialty {
      padding-top: 20px;
      h2 {
        font-size: 16px;
        margin: 10px 0;
      }
      p {
        display: none;
      }

      &-item{
        padding: 0;

        img{
          max-width: 60px;
        }
      }
    }

    &-form {
      margin-top: 31px;
    }
  }

  /*ABOUT*/
  .phdessay__about {
    &-text{
      padding: 0;
      h3{
        font-size: 24px;
        letter-spacing: 0;
        font-weight: 400;
        &:after{
          margin: 6px 0 10px 0;
        }
      }

      p{
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0;
        margin-bottom: 15px;
      }

      a{
        margin: 0 auto;
        display: block;
        max-width: 118px;
      }
    }
  }

  .home-section{
    h4{
      font-size: 24px;
      letter-spacing: 0;
      text-align: left;
      color: #000000;
    }
    p{
      font-size: 14px;
      line-height: 1.36;
      letter-spacing: 0px;
      text-align: left;
      color: #575757;
    }
  }

  /* MILISTONES*/

  .phdessay-milistones{

    .flex-row{
      display: flex;
      flex-direction: row;
    }

    &-item{
      p{
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0;
        text-align: left;
        color: #575757;
      }
    }

    &-num{
      font-size: 48px;
    }

    &-img{
      text-align: center;
      max-width: 20%;
      padding-left: 0;
      padding-right: 0;

      img{
        max-width: 48px;
      }
    }
  }


  /* phdessay-happy section */

  .phdessay-happy{
    padding: 25px 0 0 0;

    &-items{
      margin-top: 16.5px;
      margin-bottom: 23.5px;
      .col-xs-9{
        padding-left: 0;
      }
    }

    &-item{
      p{
        padding: 0;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0;
        text-align: left;
        color: #575757;
      }
    }

    &-content{
      padding: 18px 17.5px 21px 17.5px;

      .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .col-xs-4{
        padding-right: 0;
      }
      .col-xs-8{
        padding-left: 0;
      }

      margin:0 0 10px 0;
    }

    &-name {
      font-size: 21px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #000000;
      font-family: 'Droid Sans', sans-serif;
    }
  }


}

