/* Phdessay SINGLE */

.phdessay__article-single {
  &-content {
    p{
      font-size: 16px;
      line-height: 1.38;
      text-align: left;
      color: #565656;
      margin-bottom: 20px;

      @media screen and (max-width: 767px){
        font-size: 14px;
      }

    }

  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    margin-bottom: 15px;
  }

  h3{
       font-size: 18px;
       font-weight: bold;
       letter-spacing: 0;
       text-align: left;
       color: #000000;
       margin-bottom: 15px;
        @media screen and (max-width: 767px){
          font-size: 16px;
        }
     }

  h4{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
    color: #000000;
    margin-bottom: 15px;
  }


  ul{
    padding-left: 15px;
    @extend .ul-reset;
    margin: 10px 0 15px 0;

    li{
      position: relative;
      padding-left: 10px;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.5px;
      text-align: left;
      margin-bottom: 2px;

      &:before {
        content: '';
        width: 8px;
        height: 1px;
        position: absolute;
        background: #acc88a;
        left: -10px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        display: inline-block;
      }

    }
  }

  ol{
    padding-left: 15px;
    @extend .ul-reset;
    margin: 10px 0 15px 0;
    counter-reset: myCounter;

    li{
      position: relative;
      padding-left: 10px;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0.5px;
      text-align: left;
      margin-bottom: 2px;

      &:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        line-height: 2;
        text-align: left;
        color: #96b86c;
      }

    }
  }



  &-meta{
    border-bottom: solid 1px #e1e1e1;
    margin: 25px 0 26px 0;
    padding-bottom: 27px;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    div[class*="col-"]
    {
      padding:0;
    }
  }

  &-author{
    font-size: 18px;
    font-style: italic;
    text-align: left;
    color: #565656;
  }

  &-data{
    font-size: 15px;
    text-align: left;
    color: #565656;
  }

  .sharing{
    margin-top: 8px;
  }
  @media screen  and (max-width: 767px){
    .table{
      font-size: 14px;
    }
  }
}

/* Related */
.related{
  h4{
    margin: 0;
    font-size: 21px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;

    @media screen and (max-width: 767px){
      font-size: 18px;
    }


    @extend .after;

    &:after{
      height: 1px;
    }
  }
}
.related__essays {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(126, 135, 141, 0.17);
  padding: 29px 30px;

  @media screen and (max-width: 767px){
    padding: 19px 15px;
  }

  ul{
    padding-left: 0;
    @media screen  and (min-width: 768px){
      column-count: 2;
      column-gap: 15px;
    }
    @extend .ul-reset;
    li{
      margin-bottom: 20px;
      position: relative;
      padding-left: 0;
      font-size: 16px;
      line-height: 1.19;
      text-align: left;
      color: #ffaf32;
      @media screen and (max-width: 767px){
        font-size: 14px;
      }
    }
  }
}
