//= template/head.html

<section class="page phdessay__page phdessay__single">
    <div class="container">

        <div class="row hidden-xs">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Page Not Found</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- articles -->
                <div class="phdessay__404-content text-center">
                    <svg class="img-responsive" xmlns="http://www.w3.org/2000/svg" width="751" height="362"
                         viewBox="0 0 751 362">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#9C9C9C" fill-rule="nonzero" opacity=".5">
                                <path d="M609.656 76.988c-2.763-.945-5.775.535-6.737 3.31-.95 2.78.512 5.8 3.27 6.757 2.764.945 5.776-.535 6.738-3.31.951-2.78-.511-5.8-3.27-6.757zm-2.89 8.396a3.525 3.525 0 0 1-2.034-1.797 3.567 3.567 0 0 1-.163-2.72c.64-1.858 2.655-2.848 4.501-2.212 1.847.636 2.825 2.657 2.186 4.514-.638 1.853-2.646 2.844-4.49 2.215z"/>
                                <path d="M626.28 88.017c7.04-3.387 11.203-7.609 10.476-11.416-.4-2.078-2.162-3.746-5.082-4.909a2.266 2.266 0 0 0-1.484-1.957 2.2 2.2 0 0 0-2.516.833l-.86-.15a39.594 39.594 0 0 0-3.979-.419c.63-7.813-.91-13.576-4.554-14.83-3.643-1.255-8.394 2.306-12.72 8.883a39.571 39.571 0 0 0-3.393-2.121c-5.177-2.856-9.318-3.293-11.651-1.251-1.406 1.228-1.964 3.23-1.803 5.757a2.218 2.218 0 0 0-1.152 1.292 2.273 2.273 0 0 0 1.366 2.82c.198.064.404.099.612.103a35.483 35.483 0 0 0 2.214 5.477c-7.04 3.387-11.202 7.609-10.475 11.416.425 2.244 2.46 4.03 5.824 5.188 1.345.45 2.725.784 4.127 1 1.319.205 2.647.345 3.98.417-.63 7.813.91 13.576 4.554 14.83 1.897.654 4.088-.002 6.36-1.692l.268.093c.814.282 1.719.06 2.314-.569a2.222 2.222 0 0 0 .453-2.349 36.63 36.63 0 0 0 3.32-4.354 39.594 39.594 0 0 0 3.394 2.12c1.237.694 2.53 1.28 3.867 1.754 3.365 1.159 6.067 1.004 7.785-.503 2.895-2.56 2.217-8.46-1.245-15.463zm.242-15.844l.79.14c.16.757.703 1.374 1.43 1.626a2.198 2.198 0 0 0 2.32-.576c2.289.908 3.688 2.137 3.958 3.58.53 2.74-3.023 6.411-9.55 9.529a60.725 60.725 0 0 0-4.314-6.79 61.407 61.407 0 0 0 1.526-7.915c1.286.07 2.568.206 3.84.406zm-15.774 18.972c-1.736.342-3.46.617-5.149.82a71.756 71.756 0 0 1-6.826-7.885 77.43 77.43 0 0 1 1.532-5.007 77.167 77.167 0 0 1 1.875-4.888 83.05 83.05 0 0 1 5.085-1.191 69.282 69.282 0 0 1 5.149-.82 75.053 75.053 0 0 1 3.552 3.816 77.607 77.607 0 0 1 3.278 4.058 77.43 77.43 0 0 1-1.533 5.006 77.167 77.167 0 0 1-1.875 4.889 70.643 70.643 0 0 1-5.088 1.202zm4.168.88a58.125 58.125 0 0 1-2.912 5.532 57.528 57.528 0 0 1-4.766-4.052 83.738 83.738 0 0 0 3.824-.66c1.287-.257 2.606-.502 3.843-.823l.01.003zm-11.547.184c-2.077.2-4.164.286-6.25.26a58.16 58.16 0 0 1 1.112-6.153 81.603 81.603 0 0 0 2.489 3.04c.857.958 1.75 1.916 2.639 2.85l.01.003zm-5.902-9.941a57.534 57.534 0 0 1-3.313-5.313 57.523 57.523 0 0 1 5.882-2.146 74.728 74.728 0 0 0-1.381 3.696 74.888 74.888 0 0 0-1.199 3.759l.011.004zm5.64-10.115a58.137 58.137 0 0 1 2.912-5.532 57.596 57.596 0 0 1 4.766 4.052 83.738 83.738 0 0 0-3.824.66c-1.286.257-2.62.473-3.864.78l.01.04zm11.547-.184c2.077-.2 4.164-.286 6.25-.26a58.125 58.125 0 0 1-1.111 6.153 81.603 81.603 0 0 0-2.49-3.04 72.732 72.732 0 0 0-2.653-2.878l.004.025zm5.902 9.941a57.512 57.512 0 0 1 3.313 5.313 57.523 57.523 0 0 1-5.881 2.147 74.728 74.728 0 0 0 1.38-3.697c.438-1.272.855-2.551 1.188-3.799v.036zm-2.88-25.02c2.626.904 3.993 5.811 3.406 13.048a60.921 60.921 0 0 0-8.03.382 60.989 60.989 0 0 0-6.093-5.245c3.983-6.067 8.092-9.09 10.717-8.185zM591.168 70.03a2.2 2.2 0 0 0 .567-.878 2.206 2.206 0 0 0-1.28-2.828c-.145-2.015.267-3.525 1.238-4.396 1.214-1.053 3.326-1.097 6.048-.16 1.25.444 2.46.994 3.618 1.643a38.015 38.015 0 0 1 3.304 2.066 61.395 61.395 0 0 0-3.67 7.177 60.748 60.748 0 0 0-7.58 2.694 33.688 33.688 0 0 1-2.245-5.318zm.312 21.967c-4.972-.808-8.08-2.541-8.498-4.771-.531-2.74 3.022-6.41 9.55-9.528a60.737 60.737 0 0 0 4.314 6.79 61.384 61.384 0 0 0-1.526 7.914 38.071 38.071 0 0 1-3.84-.405zm16.435 11.205l-.097-.034a2.197 2.197 0 0 0-2.255.503 2.222 2.222 0 0 0-.574 2.249c-1.776 1.293-3.392 1.774-4.656 1.338-2.626-.904-3.992-5.811-3.406-13.048 2.681.05 5.364-.078 8.03-.382a60.876 60.876 0 0 0 6.093 5.245 35.062 35.062 0 0 1-3.135 4.129zm18.435-1.08c-1.714 1.496-5.219.953-9.634-1.472a38.038 38.038 0 0 1-3.304-2.066 61.43 61.43 0 0 0 3.67-7.176 60.737 60.737 0 0 0 7.58-2.695c3.26 6.512 3.793 11.578 1.688 13.41z"/>
                            </g>
                            <path fill="#CBCBCB" fill-rule="nonzero"
                                  d="M736.244 209.99l1.38-8.847 13.201-18.588a1.16 1.16 0 0 0 .198-.674l-.08-.165a1.176 1.176 0 0 0-.168-.343l-17.397-35.984a1.206 1.206 0 0 0-.936-.665l-39.726-4.567a1.207 1.207 0 0 0-1.07.522 1.191 1.191 0 0 0-.135 1.187l7.317 17.129-10.77 15.141c-.244.34-.292.783-.127 1.167a36.492 36.492 0 0 0 12.268 15.988 35.867 35.867 0 0 0 19.04 6.244c.413.023.808-.17 1.045-.509l10.768-15.142 16.523 1.117-12.023 16.927-7.892 4.206a1.192 1.192 0 0 0-.116 2.028l6.736 4.785c.34.245.783.293 1.168.128.464-.163.78-.594.796-1.085zM718.822 194.9c-13.538-.992-22.813-7.565-28.344-20.16L700 161.328l7.71 18.075c.085.2.222.375.399.503.18.124.393.197.612.21l19.603 1.332-9.502 13.453zm-9.183-17.084l-15.007-35.162 37.009 4.26 16.206 33.541-38.208-2.64zm20.942 27.322l4.334-2.3-.752 4.835-3.582-2.535z"/>
                            <g fill="#9C9C9C" fill-rule="nonzero" opacity=".5">
                                <path d="M32.14 313.677c-3.053 2.228-3.738 6.494-1.533 9.542 2.218 3.04 6.486 3.705 9.549 1.49 3.052-2.228 3.738-6.493 1.533-9.542-2.218-3.039-6.486-3.705-9.549-1.49zm6.685 9.202a4.587 4.587 0 0 1-3.406.832 4.545 4.545 0 0 1-2.985-1.82c-1.479-2.035-1.02-4.889 1.025-6.374 2.044-1.486 4.9-1.04 6.38.995 1.475 2.03 1.022 4.878-1.014 6.367z"/>
                                <path d="M56.132 304.187c1.678-9.918.335-17.406-4.214-19.424-2.485-1.1-5.554-.459-8.952 1.776a2.934 2.934 0 0 0-3.166.134 2.843 2.843 0 0 0-.997 3.269l-.799.797a51.694 51.694 0 0 0-3.403 3.899c-7.757-6.384-14.97-8.976-19.004-6.045-4.034 2.931-3.824 10.557-.124 19.941a51.665 51.665 0 0 0-4.76 2.033c-6.862 3.38-10.406 7.435-9.995 11.395.246 2.384 1.938 4.439 4.718 6.119-.135.76.046 1.54.501 2.162a2.927 2.927 0 0 0 3.987.622c.215-.163.404-.355.564-.572 2.42.762 4.9 1.32 7.413 1.67-1.677 9.918-.334 17.406 4.215 19.425 2.68 1.193 6.074.35 9.8-2.356a32.557 32.557 0 0 0 4.125-3.63 51.665 51.665 0 0 0 3.404-3.898c7.756 6.384 14.97 8.975 19.004 6.044 2.1-1.526 3.042-4.321 2.955-7.958l.297-.216a2.846 2.846 0 0 0 1.125-2.86 2.822 2.822 0 0 0-2.135-2.199 46.572 46.572 0 0 0-2.11-6.696 51.694 51.694 0 0 0 4.76-2.033 32.557 32.557 0 0 0 4.726-2.802c3.726-2.707 5.576-5.675 5.269-8.592-.538-4.933-7.253-8.536-17.204-10.005zm-16.498-11.853l.737-.734a2.848 2.848 0 0 0 2.776-.32 2.846 2.846 0 0 0 1.122-2.873c2.66-1.752 4.996-2.33 6.717-1.56 3.278 1.444 4.496 7.887 2.916 17.065a78.455 78.455 0 0 0-10.361-.412 77.879 77.879 0 0 0-7.194-7.406 49.663 49.663 0 0 1 3.287-3.76zm8.221 30.553a89.98 89.98 0 0 1-2.972 6.04 97.475 97.475 0 0 1-6.663.96 93.01 93.01 0 0 1-6.721.48 98.14 98.14 0 0 1-4.129-5.283 97.807 97.807 0 0 1-3.749-5.56c.744-2.02 1.588-4.101 2.534-6.244a89.98 89.98 0 0 1 2.972-6.04 97.475 97.475 0 0 1 6.663-.96 100.6 100.6 0 0 1 6.712-.492 98.14 98.14 0 0 1 4.13 5.284 97.807 97.807 0 0 1 3.748 5.56 91.563 91.563 0 0 1-2.525 6.255zm4.031-3.759a73.724 73.724 0 0 1 3.655 7.126 74.919 74.919 0 0 1-7.815 2.07c.74-1.477 1.463-2.977 2.152-4.524.689-1.547 1.413-3.12 1.997-4.663l.011-.009zm-8.406 12.334a74.904 74.904 0 0 1-4.383 6.794 73.768 73.768 0 0 1-5.648-5.678 105.8 105.8 0 0 0 5.054-.405c1.647-.204 3.32-.446 4.965-.702l.012-.009zm-14.861-1.041a74.314 74.314 0 0 1-8.06-.389 74.3 74.3 0 0 1 2.121-7.785 94.714 94.714 0 0 0 2.863 4.164 94.917 94.917 0 0 0 3.064 4.018l.012-.008zm-6.446-13.364a73.739 73.739 0 0 1-3.655-7.126 75.007 75.007 0 0 1 7.816-2.069 108.716 108.716 0 0 0-2.153 4.524c-.688 1.547-1.454 3.114-2.057 4.653l.049.018zm8.407-12.333a75.007 75.007 0 0 1 4.382-6.794 73.724 73.724 0 0 1 5.648 5.678 105.8 105.8 0 0 0-5.053.405c-1.697.186-3.37.427-5.006.695l.029.016zm14.86 1.04a74.285 74.285 0 0 1 8.06.39 74.3 74.3 0 0 1-2.12 7.785 94.714 94.714 0 0 0-2.863-4.165c-1.013-1.394-2.05-2.77-3.114-4.036l.038.027zm-28.482-15.272c2.907-2.112 9.091.036 16.273 5.953a79.326 79.326 0 0 0-5.58 8.764 79.414 79.414 0 0 0-10.06 2.598c-3.42-8.65-3.54-15.203-.633-17.315zm-5.91 37.626a2.793 2.793 0 0 0-.504-1.24 2.838 2.838 0 0 0-3.93-.718c-2.229-1.322-3.511-2.863-3.705-4.527-.205-2.053 1.323-4.318 4.336-6.507a30.583 30.583 0 0 1 4.425-2.62 49.633 49.633 0 0 1 4.636-1.978 77.864 77.864 0 0 0 4.82 9.13 78.485 78.485 0 0 0-2.81 9.982 43.3 43.3 0 0 1-7.269-1.522zM34.4 343.87c-4.553 4.662-8.692 6.676-11.35 5.486-3.28-1.444-4.498-7.886-2.918-17.064a78.47 78.47 0 0 0 10.362.412 77.85 77.85 0 0 0 7.194 7.406 49.707 49.707 0 0 1-3.288 3.76zm24.036-9.162l-.106.078a2.847 2.847 0 0 0-1.151 2.751 2.822 2.822 0 0 0 1.94 2.252c.038 2.823-.66 4.882-2.06 5.9-2.907 2.112-9.09-.037-16.272-5.954a79.282 79.282 0 0 0 5.58-8.764 79.267 79.267 0 0 0 10.059-2.598 44.577 44.577 0 0 1 2.01 6.335zm12.595-20.267c.299 2.905-2.884 6.21-8.725 9.1a49.662 49.662 0 0 1-4.636 1.979 77.908 77.908 0 0 0-4.82-9.13 78.47 78.47 0 0 0 2.81-9.982c9.282 1.323 15.012 4.468 15.371 8.033z"/>
                            </g>
                            <path fill="#CBCBCB" fill-rule="nonzero"
                                  d="M428.512 109.845l-3.645-4.995-2.627-15.53a.802.802 0 0 0-.233-.425l-.12-.041a.811.811 0 0 0-.248-.086l-26.063-9.075a.833.833 0 0 0-.782.133l-21.63 17.18a.835.835 0 0 0-.268.778c.043.292.239.538.513.646l11.935 4.79 2.133 12.657a.822.822 0 0 0 .507.633 25.183 25.183 0 0 0 13.797 1.814 24.774 24.774 0 0 0 12.347-6.254.824.824 0 0 0 .261-.758l-2.133-12.657 8.615-7.528 2.391 14.142-1.8 5.91a.823.823 0 0 0 .932 1.047l5.627-.954a.823.823 0 0 0 .632-.508.824.824 0 0 0-.141-.919zm-15.874 1.143c-7.096 6.13-14.834 7.451-23.684 4.002l-1.898-11.203 12.59 5.06c.139.058.29.075.44.052a.833.833 0 0 0 .401-.197l10.224-8.927 1.927 11.213zm-12.825-3.858l-24.494-9.84 20.154-16.002 24.288 8.463-19.948 17.38zm23.565 3.113l.994-3.241 1.993 2.729-2.987.512z"/>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M528.905 327.436c-3.525-6.047-9.351-10.36-16.112-11.93-3.588-6.002-9.454-10.25-16.224-11.747a.634.634 0 0 0-.655.253l-15.94 22.29a.652.652 0 0 0 .388 1.012c7.759 1.545 12.862 5.237 15.517 11.346v.07l.043.07.087.078.112.06h.172c6.526.638 11.586 4.365 15.474 11.346a.635.635 0 0 0 .517.332.635.635 0 0 0 .552-.262l15.94-22.29c.15-.17.2-.41.13-.628zm-47.293-1.213l15.12-21.137c6.22 1.493 11.593 5.435 14.932 10.953l-15.06 21.05c-2.82-5.577-7.854-9.234-14.992-10.866zm30.897 22.691a25.118 25.118 0 0 0-6.647-7.619 18.47 18.47 0 0 0-8.224-3.403l15.009-21.103c6.218 1.487 11.595 5.423 14.94 10.935l-15.078 21.19z"/>
                                <path d="M505.983 317.662a16.089 16.089 0 0 0-8.664-6.345.637.637 0 0 0-.785.436.65.65 0 0 0 .242.699c.06.043.127.076.198.096a14.873 14.873 0 0 1 7.992 5.864c.205.27.583.331.862.14a.651.651 0 0 0 .155-.89zM502.19 322.96a16.097 16.097 0 0 0-8.664-6.345.637.637 0 0 0-.785.436.65.65 0 0 0 .242.698c.06.044.127.076.198.096a14.881 14.881 0 0 1 7.991 5.865c.206.27.584.33.862.14a.651.651 0 0 0 .156-.89zM516.776 335.806a16.089 16.089 0 0 0-8.664-6.345.637.637 0 0 0-.784.436.65.65 0 0 0 .241.699c.06.043.127.076.198.096a14.864 14.864 0 0 1 7.992 5.864c.206.27.583.331.862.14a.651.651 0 0 0 .155-.89zM498.284 328.44a16.089 16.089 0 0 0-8.672-6.353.637.637 0 0 0-.784.436.65.65 0 0 0 .241.698c.06.043.127.076.198.096a14.856 14.856 0 0 1 7.992 5.865c.206.27.583.33.862.14a.65.65 0 0 0 .163-.882zM513.37 340.57a16.097 16.097 0 0 0-8.663-6.344.637.637 0 0 0-.785.437.65.65 0 0 0 .242.698c.06.043.127.076.198.096a14.873 14.873 0 0 1 7.991 5.864c.206.27.584.331.863.14a.651.651 0 0 0 .155-.89zM513.81 320.743a.634.634 0 0 0-.655.253l-3.267 4.581a.652.652 0 0 0-.078.62.64.64 0 0 0 .483.393c3.285.576 6.104 2.618 8.62 6.345a.65.65 0 0 0 .518.279.635.635 0 0 0 .526-.262l3.276-4.573a.652.652 0 0 0 0-.724 14.667 14.667 0 0 0-9.423-6.912zm8.112 7.226l-2.5 3.49a17.954 17.954 0 0 0-3.827-3.944 12.126 12.126 0 0 0-4.112-1.99l2.457-3.438a13.15 13.15 0 0 1 7.982 5.882z"/>
                            </g>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M111.55 176.712a1.19 1.19 0 0 0-.902 1.37c.149.613.755 1.004 1.382.892 3.054-.619 5.013.464 6.384 3.571.247.52.834.79 1.394.643h.144c.577-.27.841-.938.601-1.524-1.827-4.154-4.844-5.797-9.004-4.952zM77.119 186.58a1.19 1.19 0 0 0-.902 1.369c.15.613.756 1.005 1.383.893 3.053-.62 5.013.464 6.371 3.57.248.52.834.79 1.395.643h.144c.577-.27.84-.938.601-1.523-1.815-4.154-4.845-5.833-8.992-4.952z"/>
                                <path d="M129.882 174.653l-5.554 1.595c-3.09-4.853-9.05-7.1-14.618-5.51-4.707 1.355-8.243 5.216-9.149 9.986a6.918 6.918 0 0 0-7.213-2.226c-2.649.754-4.585 3.004-4.917 5.713-3.347-3.543-8.422-4.924-13.128-3.57-5.562 1.604-9.383 6.655-9.377 12.39l-5.446 1.56c-.604.194-.951.82-.793 1.428.196.598.828.942 1.443.786l5.013-1.44c.072.404.168.81.288 1.19 2.006 6.825 9.212 10.754 16.11 8.784 6.892-1.985 10.861-9.12 8.872-15.95a12.78 12.78 0 0 0-.782-1.988 1.179 1.179 0 0 0 0-.5c0-.202-.71-5.023 3.318-6.177 4.027-1.155 6.011 3.273 6.143 3.464.074.155.18.293.313.404.077.713.213 1.417.409 2.107 2.005 6.825 9.211 10.754 16.109 8.785 6.893-1.986 10.861-9.121 8.872-15.95a13.91 13.91 0 0 0-.409-1.19l5.122-1.465c.603-.194.951-.82.793-1.428a1.204 1.204 0 0 0-1.419-.798zm-48.027 28.472c-5.662 1.617-11.578-1.61-13.224-7.213-1.633-5.607 1.626-11.464 7.285-13.093 5.663-1.617 11.58 1.61 13.224 7.213 1.634 5.607-1.626 11.464-7.285 13.093zm34.43-9.867c-5.662 1.617-11.578-1.61-13.223-7.213-1.633-5.607 1.626-11.465 7.285-13.094 5.663-1.617 11.579 1.61 13.224 7.213 1.634 5.604-1.619 11.46-7.273 13.094h-.012z"/>
                            </g>
                            <path stroke="#FFAF32" stroke-linecap="round" stroke-width="3"
                                  d="M367.5 12.5v50M525.011 37.356L499.26 80.215M666.644 128.989l-42.859 25.752M33.5 246.5h50M209.989 37.356l25.752 42.859M88.356 128.989l42.859 25.752"/>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M693.852 315.962c-.547-.176-1.13.1-1.327.626-.166.539.124 1.12.661 1.327 2.65.948 3.672 2.689 3.307 5.702-.047.512.284.992.785 1.14l.112.068a1.052 1.052 0 0 0 1.166-.885c.492-4.027-1.092-6.687-4.704-7.978zM662.637 307.473c-.548-.176-1.13.1-1.328.627-.166.538.124 1.12.662 1.326 2.65.949 3.671 2.69 3.297 5.697-.047.512.284.992.786 1.14l.111.068a1.052 1.052 0 0 0 1.166-.885c.501-4.021-1.075-6.715-4.694-7.973z"/>
                                <path d="M709.006 322.924l-5.037-1.367c-.166-5.15-3.752-9.642-8.797-11.02-4.27-1.155-8.785.15-11.678 3.375-.384-2.416-2.179-4.405-4.567-5.06-2.4-.657-4.934.161-6.435 2.078-.966-4.268-4.265-7.686-8.534-8.843-5.047-1.363-10.329.718-12.958 5.106l-4.937-1.343a1.058 1.058 0 0 0-1.271.722 1.091 1.091 0 0 0 .757 1.273l4.547 1.233c-.13.343-.242.697-.324 1.044-1.58 6.151 2.2 12.511 8.45 14.217 6.253 1.692 12.606-1.915 14.202-8.062.155-.618.258-1.248.307-1.884.104-.11.182-.24.23-.382.093-.155 1.758-4.17 5.41-3.178 3.65.993 3.154 5.301 3.169 5.509-.015.153.005.308.056.455-.268.58-.485 1.182-.65 1.8-1.581 6.152 2.198 12.512 8.448 14.218 6.254 1.691 12.607-1.916 14.203-8.063.092-.365.17-.727.23-1.1l4.641 1.265a1.058 1.058 0 0 0 1.271-.722 1.09 1.09 0 0 0-.733-1.27zm-50.299-.597c-5.13-1.4-8.233-6.622-6.934-11.672 1.31-5.047 6.526-8.007 11.66-6.617 5.131 1.4 8.234 6.622 6.935 11.672-1.31 5.047-6.527 8.007-11.66 6.617zm31.216 8.49c-5.131-1.401-8.234-6.623-6.935-11.673 1.31-5.047 6.526-8.007 11.66-6.618 5.132 1.401 8.234 6.623 6.935 11.673-1.307 5.044-6.518 8.006-11.65 6.623l-.01-.006z"/>
                            </g>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M171.84 78.323a.8.8 0 0 0 .347-1.038l-16.543-32.566a.806.806 0 0 0-1.042-.346l-27.903 13.943a8.82 8.82 0 0 0-4.36 4.84 7.812 7.812 0 0 0 .333 6.28l15.935 31.373a8.23 8.23 0 0 0 10.944 3.633l.524-.267 27.778-13.988a.8.8 0 0 0 .346-1.038.806.806 0 0 0-1.042-.346l-2.494 1.253-5.367-10.506 2.545-1.227zm-17.259-32.21l15.809 31.133-6.184 3.112-15.81-31.134 6.185-3.112zm-30.42 22.598a6.224 6.224 0 0 1-.261-5.004 7.314 7.314 0 0 1 3.573-3.924l19.521-9.836 15.809 31.134-21.125 10.624a6.82 6.82 0 0 0-3.435 3.939c-.02.191-.116.385-.157.575L124.161 68.71zm25.274 34.064a7.466 7.466 0 0 1-5.393.508 6.363 6.363 0 0 1-3.98-3.191 5.201 5.201 0 0 1-.306-3.86 5.217 5.217 0 0 1 2.63-3.055l21.081-10.618 5.368 10.507-19.4 9.709zm23.838-12.016l-2.972 1.494-5.367-10.507 2.972-1.493 5.367 10.506z"/>
                                <path d="M159.773 87.696l-15.846 8.008a.8.8 0 0 0-.346 1.039.806.806 0 0 0 1.042.346l15.845-8.008a.8.8 0 0 0 .347-1.039.806.806 0 0 0-1.042-.346zM161.453 91.485L149.9 97.333a.8.8 0 0 0-.347 1.038.806.806 0 0 0 1.043.346l11.631-5.785a.8.8 0 0 0 .347-1.039.804.804 0 0 0-1.122-.408z"/>
                            </g>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M478.17 46.188c.337.19.765.087.978-.236l17.366-28.69a.736.736 0 0 0-.236-.978L471.861 1.42A8.107 8.107 0 0 0 465.97.393a7.21 7.21 0 0 0-4.736 3.315l-16.732 27.637a7.51 7.51 0 0 0 2.48 10.261l.462.277 24.392 14.746c.337.19.765.087.978-.236a.736.736 0 0 0-.236-.978l-2.188-1.325 5.588-9.28 2.192 1.378zm16.742-29.073l-16.607 27.423-5.428-3.284 16.606-27.423 5.429 3.284zM462.522 4.51a5.744 5.744 0 0 1 3.776-2.64 6.722 6.722 0 0 1 4.794.863l17.146 10.36-16.606 27.424-18.54-11.221a6.27 6.27 0 0 0-4.738-.748c-.159.078-.357.098-.524.158L462.522 4.51zm-14.297 36.193a6.808 6.808 0 0 1-3.013-3.937 5.822 5.822 0 0 1 .557-4.641 4.8 4.8 0 0 1 2.86-2.116 4.796 4.796 0 0 1 3.66.553l18.513 11.19-5.588 9.28-16.989-10.329zm20.942 12.65l-2.607-1.58 5.588-9.28 2.607 1.58-5.588 9.28z"/>
                                <path d="M465.002 41.386l-13.936-8.397a.738.738 0 0 0-.978.236.736.736 0 0 0 .236.978l13.937 8.397c.337.19.764.087.978-.236a.736.736 0 0 0-.237-.978zM462.863 44.535l-10.167-6.118a.738.738 0 0 0-.978.237.736.736 0 0 0 .236.977l10.158 6.21c.337.19.764.087.978-.237a.736.736 0 0 0-.227-1.07z"/>
                            </g>
                            <g fill="#CBCBCB" fill-rule="nonzero">
                                <path d="M263.127 38.582c4.724-8.063 12.531-13.815 21.59-15.907 4.808-8.003 12.668-13.666 21.74-15.663a.852.852 0 0 1 .879.338l21.359 29.72a.866.866 0 0 1-.52 1.349c-10.397 2.06-17.235 6.982-20.793 15.127v.093l-.058.093-.116.105-.15.082H306.828c-8.745.849-15.526 5.818-20.736 15.127a.848.848 0 0 1-1.433.093L263.3 39.419a.866.866 0 0 1-.173-.837zm63.373-1.618L306.238 8.781c-8.333 1.991-15.534 7.247-20.007 14.604l20.18 28.067c3.778-7.436 10.524-12.312 20.089-14.488zM285.098 67.22a33.541 33.541 0 0 1 8.907-10.159 24.818 24.818 0 0 1 11.02-4.538l-20.111-28.137c-8.334 1.983-15.539 7.23-20.02 14.58l20.204 28.254z"/>
                                <path d="M293.843 25.55a21.552 21.552 0 0 1 11.61-8.46.854.854 0 0 1 1.05.581.864.864 0 0 1-.323.931.84.84 0 0 1-.265.128 19.923 19.923 0 0 0-10.709 7.82.85.85 0 0 1-1.155.186.865.865 0 0 1-.208-1.187zM298.926 32.612a21.564 21.564 0 0 1 11.61-8.46.854.854 0 0 1 1.05.583.864.864 0 0 1-.323.93.84.84 0 0 1-.266.128 19.935 19.935 0 0 0-10.708 7.82.85.85 0 0 1-1.155.186.865.865 0 0 1-.208-1.187zM279.38 49.741a21.552 21.552 0 0 1 11.61-8.46.854.854 0 0 1 1.051.582.864.864 0 0 1-.323.931.84.84 0 0 1-.266.128 19.912 19.912 0 0 0-10.709 7.82.85.85 0 0 1-1.155.186.865.865 0 0 1-.208-1.187zM304.159 39.92c2.8-4.078 6.9-7.068 11.62-8.471a.854.854 0 0 1 1.052.582.852.852 0 0 1-.59 1.059 19.9 19.9 0 0 0-10.708 7.82.85.85 0 0 1-1.155.185.865.865 0 0 1-.22-1.175zM283.943 56.095a21.564 21.564 0 0 1 11.61-8.46.854.854 0 0 1 1.051.582.864.864 0 0 1-.323.93.84.84 0 0 1-.266.129 19.923 19.923 0 0 0-10.709 7.82.85.85 0 0 1-1.155.185.865.865 0 0 1-.208-1.186zM283.354 29.657a.852.852 0 0 1 .878.337l4.378 6.11a.856.856 0 0 1-.543 1.35c-4.401.767-8.178 3.49-11.551 8.459a.87.87 0 0 1-.694.372.853.853 0 0 1-.704-.349l-4.39-6.097a.866.866 0 0 1 0-.966 19.647 19.647 0 0 1 12.626-9.216zm-10.87 9.635l3.35 4.654a23.994 23.994 0 0 1 5.129-5.26 16.283 16.283 0 0 1 5.51-2.653l-3.292-4.584a17.613 17.613 0 0 0-10.697 7.843z"/>
                            </g>
                            <path fill="#CBCBCB" fill-rule="nonzero"
                                  d="M155.76 325.626a.74.74 0 0 0 .037.75l9.292 13.726a9.45 9.45 0 0 0-4.675-.685 4.84 4.84 0 0 0-4.239 2.467 3.47 3.47 0 0 0 .239 3.49 4.84 4.84 0 0 0 4.538 1.809 11.83 11.83 0 0 0 2.802-.474 11.85 11.85 0 0 0-1.49 2.42 4.84 4.84 0 0 0-.022 4.885 3.47 3.47 0 0 0 3.146 1.529 4.84 4.84 0 0 0 3.875-3.006 9.45 9.45 0 0 0 1.116-4.592l9.008 13.355a.74.74 0 0 0 .62.324c4.98-.05 8.152-2.215 9.396-6.415a.74.74 0 0 0-.092-.63l-6.69-9.918 10.441-.731a.74.74 0 0 0 .512-1.215l-2.215-2.6 1.828-2.854a.74.74 0 0 0 .016-.76.74.74 0 0 0-.64-.329l-13.452.553 5.552-12.266a.74.74 0 0 0-.064-.715.74.74 0 0 0-.712-.27l-3.33.625-1.554-3.012a.74.74 0 0 0-1.318.02l-4.657 9.332-7.283-10.798a.74.74 0 0 0-.61-.322c-4.024.053-7.174 2.16-9.375 6.307zm22.51 15.215l-7.515 5.069-3.63-5.382 7.515-5.069 3.63 5.382zm-17.399 4.92a3.43 3.43 0 0 1-3.216-1.165 2 2 0 0 1-.13-2.063 3.43 3.43 0 0 1 3.018-1.634c4.039-.233 5.362 1.45 5.714 2.048-.286.637-1.292 2.51-5.415 2.808l.03.006zm7.06 6.13a3.43 3.43 0 0 1-2.645 2.185 2 2 0 0 1-1.864-.892 3.43 3.43 0 0 1 .125-3.419c1.823-3.72 3.944-3.94 4.601-3.914.413.498 1.545 2.379-.24 6.005l.024.035zm-.9-7.367a4.55 4.55 0 0 0 .484-.813l.458.68a4.55 4.55 0 0 0-.977.156l.035-.023zm13.305 15.615l-8.786-13.026 7.515-5.069 8.81 13.061c-1.081 3.254-3.579 4.887-7.54 5.034zm10.831-22.445l-1.36 2.13a.73.73 0 0 0 .063.877l1.61 1.882-9.831.687-3.314-4.913.027-.137 12.805-.526zm-12.876-14.677l1.142 2.198a.73.73 0 0 0 .79.388l2.485-.464-5.319 11.639-.137-.027-3.314-4.912 4.353-8.822zm-13.552-2.186l9.04 13.401-7.516 5.07-9.015-13.367c1.853-3.296 4.327-4.965 7.501-5.102l-.01-.002zM619.92 235.866a.74.74 0 0 0 .028-.752l-8.06-14.482a9.45 9.45 0 0 0 4.598 1.09 4.84 4.84 0 0 0 4.437-2.089 3.47 3.47 0 0 0 .067-3.497 4.84 4.84 0 0 0-4.363-2.198 11.83 11.83 0 0 0-2.833.228 11.85 11.85 0 0 0 1.694-2.28 4.84 4.84 0 0 0 .449-4.866 3.47 3.47 0 0 0-3.001-1.797 4.84 4.84 0 0 0-4.122 2.657 9.45 9.45 0 0 0-1.513 4.477l-7.809-14.089a.74.74 0 0 0-.589-.376c-4.967-.384-8.314 1.496-9.92 5.571a.74.74 0 0 0 .037.635l5.8 10.464-10.465-.182a.74.74 0 0 0-.616 1.166l1.98 2.783-2.07 2.684a.74.74 0 0 0-.082.756.74.74 0 0 0 .608.383l13.45.621-6.6 11.735a.74.74 0 0 0 .002.719.74.74 0 0 0 .685.332l3.373-.334 1.285 3.136a.74.74 0 0 0 1.314.096l5.453-8.892 6.314 11.392a.74.74 0 0 0 .58.374c4.013.298 7.335-1.527 9.89-5.465zm-21.099-17.12l7.929-4.394 3.147 5.677-7.929 4.395-3.147-5.677zm17.762-3.385a3.43 3.43 0 0 1 3.103 1.442 2 2 0 0 1-.052 2.065 3.43 3.43 0 0 1-3.148 1.365c-4.044-.119-5.215-1.911-5.514-2.538.341-.61 1.506-2.387 5.64-2.325l-.03-.009zm-6.5-6.721a3.43 3.43 0 0 1 2.827-1.947 2 2 0 0 1 1.779 1.051 3.43 3.43 0 0 1-.422 3.395c-2.141 3.548-4.273 3.582-4.925 3.498-.368-.531-1.332-2.503.762-5.96l-.02-.037zm.256 7.417a4.55 4.55 0 0 0-.553.768l-.398-.718c.331.013.662-.01.988-.07l-.037.02zm-11.893-16.715l7.617 13.742-7.929 4.394-7.637-13.779c1.36-3.147 3.99-4.556 7.949-4.357zm-12.747 21.416l1.541-2.003a.73.73 0 0 0 .014-.88l-1.44-2.015 9.853.172 2.873 5.183-.038.135-12.803-.592zm11.548 15.743l-.946-2.29a.73.73 0 0 0-.754-.455l-2.515.246 6.313-11.131.134.039 2.873 5.182-5.105 8.409zm13.31 3.358l-7.837-14.137 7.928-4.395 7.817 14.1c-2.134 3.123-4.744 4.57-7.918 4.43l.01.002z"/>
                            <path stroke="#FFAF32" stroke-linecap="round" stroke-width="3"
                                  d="M711.5 246.5h-50"/>
                            <text fill="#FFAF32" font-family="Droid Sans" font-size="288" letter-spacing=".24"
                                  transform="translate(116 75)">
                                <tspan x="14.703" y="268">404</tspan>
                            </text>
                        </g>
                    </svg>

                    <h1>Error 404 - Page Not Found</h1>

                    <div class="phdessay__404-form">
                        <form class="phdessay-form" role="search" method="get" action="/">
                            <div class="form-input-fields">
                                <input value="" name="s" type="search" placeholder="Enter key words"
                                       class="form-control">
                            </div>
                            <button type="submit" class="btn btn-submit phdessay-form-button"><img
                                    src="img/icons/search-btn.svg" alt="Find Your Dream Essay"> Find Your Dream Essay
                            </button>
                        </form>
                    </div>

                    <!-- banner cta -->
                    <div class="phdessay__article-cta">
                        <div class="title">We will write a custom essay sample on</div>
                        <div class="title-main">Any topic specifically for you</div>
                        <div class="title">For only $13.90/page</div>
                        <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                    </div>
                    <!-- End banner cta -->


                </div>
                <!-- End Article -->
            </div>
        </div>

        <div class="row related">
            <div class="col-md-8 col-md-offset-2">
                <div class="related__essays">
                    <h4>
                        Recent Essays
                    </h4>
                    <ul>
                        <li><a href="single-essay.html">Life in ancient Greece and medieval Europe</a></li>
                        <li><a href="single-essay.html">Long Term Health Care</a></li>
                        <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a>
                        </li>
                        <li><a href="single-essay.html">My position with flatworld</a></li>
                        <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a>
                        </li>
                        <li><a href="single-essay.html">Marvin Bower</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

//= template/footer.html

