//= template/head.html

<section class="page phdessay__page phdessay__contact">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8">
                <h1 class="site-title">
                    Contact Us
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7 phdessay__article-single-content">
                <!-- contact-->
                <form class="phdessay__contact-form" id="contactForm" novalidate="novalidate">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="InputName">Name <sup>required</sup></label>
                                <input type="text" name="InputName" required="" class="form-control name " id="InputName"
                                       aria-describedby="nameHelp" placeholder="James" aria-required="true">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="InputEmail">Email <sup>required</sup></label>
                                <input type="email" name="InputEmail" required="" class="form-control email"
                                       id="InputEmail" aria-describedby="emailHelp" placeholder="Type your e-mail"
                                       aria-required="true">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textSubj">Subject <sup>required</sup></label>
                                <input type="text" name="textSubj" required="" class="form-control" id="textSubj"
                                       aria-describedby="emailHelp" placeholder="So enter your subject and start to type (or paste) your message into the main text area" aria-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="userMessage">Your Message <sup>required</sup></label>
                                <textarea name="userMessage" cols="50" rows="8"
                                          id="userMessage" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Get a Quote
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END contact-->


                <!-- CTA -->

                <div class="phdessay__blog-cta">
                    <div class="title-top">We will write a custom essay sample on</div>
                    <div class="title-main">Any topic specifically for you</div>
                    <div class="title-middle">for you for only $13.90/page</div>
                    <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                </div>

                <!-- End CTA -->

            </div>


            <div class="col-md-4 col-sm-5 phdessay__sidebar">

                <div class="phdessay__widget phdessay__widget-search hidden-xs">
                    <form role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-submit phdessay-form-button">Search</button>
                    </form>

                    <hr>
                </div>

                <div class="phdessay__widget phdessay__widget-posts">
                    <h4 class="phdessay__title phdessay__widget-title">
                        Latest Blog Posts
                    </h4>
                    <div class="phdessay__widget-body">

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/1.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Short Essay Writing: Make Your Essay Brief and
                                    Informative</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Writing Services Online: Resolving Ethical Concerns in
                                    Writing</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Ex-Google VP: Android is the reason your phone takes worse
                                    pics than iPhone</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Bored programmers on Reddit are competing to tell the
                                    nerdiest coder joke</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Latin American women in tech are fighting back against
                                    'machista' culture</a></div>
                            </div>
                        </article>

                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-tag-cloud">
                    <h4 class="phdessay__title phdessay__widget-title">Most Popular Tags</h4>
                    <div class="phdessay__tagcloud tagcloud">
                        <a href="" class="text-style-1">America</a>
                        <a href="" class="text-style-2">American</a>
                        <a href="" class="text-style-3">Analysis</a>
                        <a href="" class="text-style-4">Behavior</a>
                        <a href="" class="text-style-5">Business</a>
                        <a href="" class="text-style-6">Childhood</a>
                        <a href="" class="text-style-7">College</a>
                        <a href="" class="text-style-8">Communication</a>
                        <a href="" class="text-style-7">Company</a>
                        <a href="" class="text-style-6">Computer</a>
                        <a href="" class="text-style-5">Crime</a>
                        <a href="" class="text-style-4">Culture</a>
                        <a href="" class="text-style-3">Development</a>
                        <a href="" class="text-style-2">Discrimination</a>
                        <a href="" class="text-style-1">Economics</a>
                        <a href="" class="text-style-2">Education</a>
                        <a href="" class="text-style-3">Employment</a>
                        <a href="" class="text-style-4">Family</a>
                        <a href="" class="text-style-5">Health</a>
                        <a href="" class="text-style-6">Healthcare</a>
                        <a href="" class="text-style-7">History</a>
                        <a href="" class="text-style-8">Human</a>
                        <a href="" class="text-style-1">Leadership</a>
                        <a href="" class="text-style-2">Management</a>
                        <a href="" class="text-style-3">Marketing</a>
                        <a href="" class="text-style-4">People</a>
                        <a href="" class="text-style-5">Psychology</a>
                        <a href="" class="text-style-6">Story</a>
                        <a href="" class="text-style-7">Theory</a>
                        <a href="" class="text-style-8">War</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-cta">
                    <div class="sidebar__cta">
                        <div class="title">
                            BUY<br/>
                            ESSAY
                        </div>
                        <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-recent">
                    <h4 class="phdessay__title phdessay__widget-title">Recent Essays</h4>
                    <ul class="phdessay__widget-recent-essays">
                        <li><a href="#">The Problems of British Society</a></li>
                        <li><a href="#">Euro Disney Intercultural Management</a></li>
                        <li><a href="#">Systems, Processes, Education And Training: Help For Nurses To Promote Patient
                            Safety</a></li>
                        <li><a href="#">Network Design Proposal</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Legal Drama Movies</a></li>
                        <li><a href="#">The secret to raising smart kids</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Courts of the Tampa Bay Area</a></li>
                        <li><a href="#">The Role and Proceedings in a magistrate’s court</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>

//= template/footer.html

