//= template/head.html

<!-- PHD Hero Header -->
<section class="phdessay__hero">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-section">
                <h1 class="phdessay__hero-header">
                    269,640 Free Essays That Perfectly To Get
                    Ideas And Inspiration
                </h1>
            </div>
        </div>
        <div class="row phdessay__hero-specialty">
            <div class="col-sm-4 col-xs-4 phdessay__hero-specialty-item text-center">
                <img src="img/icons/knowledge.svg" alt="Free Essay Database">
                <h2>
                    Free Essay Database
                </h2>
                <p class="hidden-xs">
                    Search for an existing essay in your topic to get ideas and inspiration from. It’s open to everyone
                </p>
            </div>
            <div class="col-sm-4 col-xs-4 phdessay__hero-specialty-item text-center">
                <img src="img/icons/diploma-1.svg" alt="New Papers Uploaded Daily">
                <h2>
                    New Papers Uploaded Daily
                </h2>
                <p class="hidden-xs">
                    The database is extended on a daily basis as new papers come in. Only best texts from leading
                    colleges and universities
                </p>
            </div>
            <div class="col-sm-4 col-xs-4 phdessay__hero-specialty-item text-center">
                <img src="img/icons/fill-1.svg" alt="Free Essay Database">
                <h2>
                    Free Essay Database
                </h2>
                <p class="hidden-xs">
                    Easily filter and find essays in each and every academic subject. We know it all!
                </p>
            </div>
        </div>
        <div class="row phdessay__hero-form">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <form class="phdessay-form" role="search" method="get" action="/">
                    <div class="form-input-fields">
                        <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-submit phdessay-form-button"><img
                            src="img/icons/search-btn.svg" alt="Find Your Dream Essay">Find Your Dream Essay
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End PHD Hero Header -->

<!-- PHD About -->
<section class="home-section phdessay__about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="phdessay__about-slider">
                    <div class="phdessay__about-slider-item flex row">
                        <div class="left phdessay__about-img col-sm-6 hidden-xs">
                            <div class="backgr" style="background-image: url('img/slider_1.png')"></div>
                        </div>
                        <div class="right phdessay__about-text col-sm-6">
                            <h3>
                                Our mission
                            </h3>
                            <p>
                                We want to make essay writing process as easy as possible. Having been involved in
                                education for long time, our professionals know the difficulties scholars face when
                                having to write academic texts. We also know how good it feels to get an A for your work
                                – so why don’t we share our little essay victories to help each other get better?
                            </p>
                            <a href="/contactus/" class="btn btn-primary">Contact Us</a>
                        </div>
                    </div>
                    <div class="phdessay__about-slider-item flex row">
                        <div class="left phdessay__about-img col-sm-6 hidden-xs">
                            <div class="backgr" style="background-image: url('img/slider_2.png')"></div>
                        </div>
                        <div class="right phdessay__about-text  col-sm-6">
                            <h3>
                                WHO WE ARE
                            </h3>
                            <p>Phdessay is a team of experienced academic professionals who know the market inside out.
                                We realized the challenges modern students and educators face and decided to unite our
                                efforts in helping each other. Phdessay spreads the knowledge and connects
                                English-speaking students from all around the world.</p>
                            <a href="/about-us/" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                    <div class="phdessay__about-slider-item flex row">
                        <div class="left phdessay__about-img col-sm-6 hidden-xs">
                            <div class="backgr" style="background-image: url('img/slider_4.png')"></div>
                        </div>
                        <div class="right phdessay__about-text col-sm-6">
                            <h3>
                                WHAT WE DO
                            </h3>
                            <p>
                                Phdessay team finds good quality papers and negotiates with the author to make his or
                                her work available to general public. All the submitted papers have been highly
                                appraised by leading academic institutions and go through a comprehensive quality check
                                to make sure you refer to the best examples while preparing your essay.
                            </p>
                            <a href="/terms-conditions/" class="btn btn-primary">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<!-- Happy Milistones -->

<section class="home-section phdessay-milistones">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Happy Milistones</h4>
                <p>
                    We Have Powerful Milistones With Fun Fact Effects
                </p>
            </div>
        </div>
        <div class="row phdessay-milistones-items">
            <div class="col-sm-4">
                <div class="phdessay-milistones-item">
                    <div class="row flex-row">
                        <div class="col-xs-4 phdessay-milistones-img"><img src="img/icons/icon-1.svg"
                                                                           alt="Happy Students" class="img-responsive">
                        </div>
                        <div class="col-xs-8 phdessay-milistones-num">90000</div>
                    </div>
                    <div class="phdessay-milistones-title">
                        Happy Students
                    </div>
                    <p>
                        Have used Phdessay to get ideas for their written projects
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="phdessay-milistones-item">
                    <div class="row flex-row">
                        <div class="col-xs-4 phdessay-milistones-img"><img src="img/icons/icon-2.svg" alt="Free Essays"
                                                                           class="img-responsive"></div>
                        <div class="col-xs-8 phdessay-milistones-num">
                            49250
                        </div>
                    </div>
                    <div class="phdessay-milistones-title">
                        Free Essays
                    </div>
                    <p>
                        Have been uploaded to Phdessay and are available to review for free
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="phdessay-milistones-item">
                    <div class="row flex-row">
                        <div class="col-xs-4 phdessay-milistones-img"><img src="img/icons/icon-3.svg"
                                                                           alt="Topics Covered" class="img-responsive">
                        </div>
                        <div class="col-xs-8 phdessay-milistones-num">443</div>
                    </div>
                    <div class="phdessay-milistones-title">
                        Topics Covered
                    </div>
                    <p>
                        Find targeted research in your particular area and see what others have written in this topic
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#" rel="nofollow" class="btn btn-primary">Get a Quote</a>
            </div>
        </div>
    </div>
</section>

<!-- End Happy Milistones -->

<!-- From The Blog -->

<section class="home-section phdessay-blog">
    <div class="container">
        <div class="row phdessay-blog-flex">
            <div class="phdessay-blog-flex-bottom col-sm-8">
                <div class="js-header blog-header-tab active">
                    <h4>From The Blog</h4>
                    <p>
                        We Shared Awesome Blog Articles for Your Next Sites
                    </p>
                </div>
                <div class="js-header recent-header-tab">
                    <h4>Recent Essays </h4>
                    <p>
                        We Shared Awesome Recent Articles for Your Next Sites
                    </p>
                </div>
            </div>
            <div class="phdessay-blog-flex-top col-sm-4">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#blog" aria-controls="blog" data-header=".blog-header-tab" role="tab"
                           data-toggle="tab">Blog</a>
                    </li>
                    <li role="presentation">
                        <a href="#recent" aria-controls="recent" data-header=".recent-header-tab" role="tab"
                           data-toggle="tab">Recent Essays</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="recent">
                <div class="row blog-recent phdessay-card-items flex-row">

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">We Shared Awesome Articles for Your Next Sites</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">Infrastructure and Housing in Malaysia</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    The original purpose of holding architecture is due to the demand of human existences. During ancient clip, worlds were brooding in caves. However, people need nutrient to last. Peoples need…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">Infrastructure and Housing in Malaysia</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    The original purpose of holding architecture is due to the demand of human existences. During ancient clip, worlds were brooding in caves. However, people need nutrient to last. Peoples need…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="blog">
                <div class="row phdessay-card-items blog-now flex-row">

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">We Shared Awesome Articles for Your Next Sites</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">We Shared Awesome Articles for Your Next Sites</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">Infrastructure and Housing in Malaysia</a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    The original purpose of holding architecture is due to the demand of human existences. During ancient clip, worlds were brooding in caves. However, people need nutrient to last. Peoples need…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>

                    <div class="col-sm-4 phdessay-card-item">
                        <div class="phdessay-card-content">
                            <div class="phdessay-card-body">
                                <div class="phdessay-card-header">
                                    <div class="phdessay-card-title">
                                        <a href="single-blog.html">
                                            The Effect of Indoor Environmental Quality of a Green Building
                                        </a>
                                    </div>
                                </div>
                                <ul class="phdessay-card-cats">
                                    <li>
                                        <a href="blog-list.html">Essay</a>
                                    </li>
                                </ul>
                                <p>
                                    As a husbandman is walking through his field one forenoon, he spots a small spot of rusty woven wire that has been knocked from the fencing. He keeps walking by…
                                </p>
                            </div>
                            <a href="single-blog.html" class="phdessay-card-read">Read more</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- End From The Blog -->


<!-- Happy Students -->

<section class="home-section phdessay-happy">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h4>Happy Students</h4>
                <p>
                    What Our Students Say About Phdessay
                </p>
            </div>
        </div>

        <div class="row phdessay-happy-items flex-row">
            <div class="col-sm-4 phdessay-happy-item">
                <div class="phdessay-happy-content">
                    <div class="row flex-row">
                        <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="img/happy/john.png" alt="">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div class="phdessay-happy-name">
                                John D.
                            </div>
                        </div>
                    </div>
                    <p>
                        “I always suffer with where to start, so seeing what others have written in their papers helps
                        me so much!”
                    </p>
                </div>
            </div>

            <div class="col-sm-4 phdessay-happy-item">
                <div class="phdessay-happy-content">
                    <div class="row flex-row">
                        <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="img/happy/abbie.png" alt="">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div class="phdessay-happy-name">
                                Abbie B.
                            </div>
                        </div>
                    </div>
                    <p>
                        “When doing research I easily get lost with too much data – so now I just look at what others
                        refer to and find the same sources!”
                    </p>
                </div>
            </div>

            <div class="col-sm-4 phdessay-happy-item">
                <div class="phdessay-happy-content">
                    <div class="row flex-row">
                        <div class="col-sm-4 col-xs-4"><img class="img-responsive" src="img/happy/jenny.png" alt="">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <div class="phdessay-happy-name">
                                Jenny A.
                            </div>
                        </div>
                    </div>
                    <p>
                        “During exam period I visit this website more often than Facebook!”z
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- End Happy Students -->

//= template/footer.html

