//= template/head.html

<section class="page phdessay__page phdessay__single">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Popaps</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8">
                <h1 class="site-title">
                    PhDessay.com – Major Free Essay Help In Any Subject
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7">
                <!-- articles -->
                <div class="phdessay__article-single-content">
                    <a class="exit-popup-open" href="#phdessay-exit">Exit</a><br>
                    <a class="popup-with-zoom-anim" href="#phdessay-copy">Copy</a><br>

                    <!-- copy pop-up -->
                    <div id="phdessay-copy"
                         class="phdessay__popup phdessay__popup-copy zoom-anim-dialog mfp-hide text-center">
                        <div class="phdessay__popup-content">
                            <div class="phdessay__popup-heading">
                                <div class="h5">
                                    Sorry, but copying text is forbidden on this website
                                </div>
                            </div>
                            <div class="phdessay__popup-body">
                                <div class="phdessay__popup-topic">
                                    If you need this or any other sample, we can send it to you via email. Please, specify your valid email address
                                </div>
                                <div class="phdessay__popup-form">
                                    <form class="phdessay-form" role="search" method="get" action="/">
                                        <div>
                                            <input value="" name="s" type="search" placeholder="E-mail"
                                                   class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-submit">Submit</button>
                                    </form>
                                </div>
                                <div class="phdessay__popup-end">
                                    <a href="#" class="popup-modal-dismiss">No, thanks. I prefer suffering on my own.</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Exit Pup-UP -->
                    <div id="phdessay-exit"
                         class="phdessay__popup phdessay__popup-exit zoom-anim-dialog mfp-hide text-center">
                        <div class="phdessay__popup-content">
                            <div class="phdessay__popup-heading exit-heading">
                                <div class="h2">
                                    HAVEN’T FOUND YOUR TOPIC?
                                </div>
                            </div>
                            <div class="phdessay__popup-body body-exit">
                                <img src="img/pen.svg" alt="Let Us Write It For You!">
                                <div class="h4">
                                    Let Us Write It For You!
                                </div>
                                <a href="#" class="btn btn-primary">Order Now</a>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End Article -->

                <div class="row related">
                    <div class="col-md-12">
                        <div class="related__essays">
                            <h4>
                                Related Essays
                            </h4>
                            <ul>
                                <li><a href="single-essay.html">Life in ancient Greece and medieval Europe</a></li>
                                <li><a href="single-essay.html">Long Term Health Care</a></li>
                                <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a>
                                </li>
                                <li><a href="single-essay.html">My position with flatworld</a></li>
                                <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a>
                                </li>
                                <li><a href="single-essay.html">Marvin Bower</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-4 col-sm-5 phdessay__sidebar">

                <div class="phdessay__widget phdessay__widget-search hidden-xs">
                    <form role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-submit phdessay-form-button">Search</button>
                    </form>

                    <hr>
                </div>

                <div class="phdessay__widget phdessay__widget-posts">
                    <h4 class="phdessay__title phdessay__widget-title">
                        Latest Blog Posts
                    </h4>
                    <div class="phdessay__widget-body">

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/1.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Short Essay Writing: Make Your Essay Brief and
                                    Informative</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Writing Services Online: Resolving Ethical Concerns in
                                    Writing</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Ex-Google VP: Android is the reason your phone takes worse
                                    pics than iPhone</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Bored programmers on Reddit are competing to tell the
                                    nerdiest coder joke</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Latin American women in tech are fighting back against
                                    'machista' culture</a></div>
                            </div>
                        </article>

                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-tag-cloud">
                    <h4 class="phdessay__title phdessay__widget-title">Most Popular Tags</h4>
                    <div class="phdessay__tagcloud tagcloud">
                        <a href="" class="text-style-1">America</a>
                        <a href="" class="text-style-2">American</a>
                        <a href="" class="text-style-3">Analysis</a>
                        <a href="" class="text-style-4">Behavior</a>
                        <a href="" class="text-style-5">Business</a>
                        <a href="" class="text-style-6">Childhood</a>
                        <a href="" class="text-style-7">College</a>
                        <a href="" class="text-style-8">Communication</a>
                        <a href="" class="text-style-7">Company</a>
                        <a href="" class="text-style-6">Computer</a>
                        <a href="" class="text-style-5">Crime</a>
                        <a href="" class="text-style-4">Culture</a>
                        <a href="" class="text-style-3">Development</a>
                        <a href="" class="text-style-2">Discrimination</a>
                        <a href="" class="text-style-1">Economics</a>
                        <a href="" class="text-style-2">Education</a>
                        <a href="" class="text-style-3">Employment</a>
                        <a href="" class="text-style-4">Family</a>
                        <a href="" class="text-style-5">Health</a>
                        <a href="" class="text-style-6">Healthcare</a>
                        <a href="" class="text-style-7">History</a>
                        <a href="" class="text-style-8">Human</a>
                        <a href="" class="text-style-1">Leadership</a>
                        <a href="" class="text-style-2">Management</a>
                        <a href="" class="text-style-3">Marketing</a>
                        <a href="" class="text-style-4">People</a>
                        <a href="" class="text-style-5">Psychology</a>
                        <a href="" class="text-style-6">Story</a>
                        <a href="" class="text-style-7">Theory</a>
                        <a href="" class="text-style-8">War</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-cta">
                    <div class="sidebar__cta">
                        <div class="title">
                            BUY<br/>
                            ESSAY
                        </div>
                        <a href="#" class="btn btn-success" rel="nofollow">Order Now</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-recent">
                    <h4 class="phdessay__title phdessay__widget-title">Recent Essays</h4>
                    <ul class="phdessay__widget-recent-essays">
                        <li><a href="#">The Problems of British Society</a></li>
                        <li><a href="#">Euro Disney Intercultural Management</a></li>
                        <li><a href="#">Systems, Processes, Education And Training: Help For Nurses To Promote Patient
                            Safety</a></li>
                        <li><a href="#">Network Design Proposal</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Legal Drama Movies</a></li>
                        <li><a href="#">The secret to raising smart kids</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Courts of the Tampa Bay Area</a></li>
                        <li><a href="#">The Role and Proceedings in a magistrate’s court</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>

//= template/footer.html

