//= template/head.html

<section class="page phdessay__page phdessay__single">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8">
                <h1 class="site-title">
                    PhDessay.com – Major Free Essay Help In Any Subject
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7">
                <!-- articles -->
                <div class="phdessay__article-single">
                    <div class="phdessay__article-single-content">

                        <p>
                            If there is anything that can overcloud the bright memories of being a student – that is
                            an ugly essay writing assignments. Even good students hate them, but even good
                            professors give them. But with recent educational statistics published showing that on
                            average the number of written assignments (essays, presentations, case studies and etc.)
                            given to each student throughout college or university years tends to grow, there’s no
                            other way than to learn to cope with them.
                        </p>


                        <h3>Different ways scholars try to manage their essays overload:</h3>

                        <div class="row service">
                            <div class="col-sm-6 col-xs-12 service-wrap left">
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/calendar.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>
                                            Start writing term papers at the very beginning of the semester
                                        </p>
                                    </div>
                                </div>
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/night.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>Sleep less to have more time to read and write</p>
                                    </div>
                                </div>
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/alarm.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>
                                            Ask for deadline extension or submit whatever text just to have it done
                                            on time
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 service-wrap right">
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/cor.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>
                                            Let professional researchers read through numerous pages and then use
                                            these facts in their research papers
                                        </p>
                                    </div>
                                </div>
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/professor.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>
                                            Outsource the whole essay writing process to people who already
                                            graduated college and know how it should be done
                                        </p>
                                    </div>
                                </div>
                                <div class="row service-item">
                                    <div class="col-sm-3 col-xs-3">
                                        <img src="img/icons/service/diploma-1.svg" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-sm-9 col-xs-9">
                                        <p>
                                            Outsource to professional writers the most complicated projects (case
                                            analysis, persuasive essays and etc.) that can affect the final grade
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2>
                            One Way Or Another – You Can Rely On PhDessay.com for Great Essay Help!
                        </h2>

                        <p>
                            Whichever way you decide to use, PhDessay.com is a great resource to help you survive
                            through the process of preparing written assignments for school. We have everything a
                            student might need to get through the hectic process of researching, drafting,
                            proofreading, formatting and delivering high quality written pieces. Because we have
                            three main components for it:
                        </p>

                        <div class="phdessay__article-cta">
                            <div class="title">We will write a custom essay sample on</div>
                            <div class="title-main">Any topic specifically for you</div>
                            <div class="title">For only $13.90/page</div>
                            <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                        </div>

                        <ol>
                            <li>People who wrote at least a thousand of essays in their life;</li>
                            <li>Researchers that never miss a thing and know every single book there is in your
                                topic,
                            </li>
                            <li>The largest database of free essays where you can borrow great ideas and data for
                                your own work;
                            </li>
                        </ol>


                        <p><strong>What is PhDessay?</strong> – PhDessay.com is an educational website whose goal is
                            to help students write academic projects. We believe then when students share the
                            knowledge with each other their competences double.</p>

                        <p><strong>What writers work for us?</strong> – We are a team of graduates, PhDs and
                            assistant professors working at English-speaking universities in the USA, UK, Canada and
                            Australia whose passion is to write academic papers.</p>

                        <p><strong>If I read through the papers and like it </strong> – can I order a custom essay?
                            – Yes, of course. When browsing through various free essays you will find the author
                            whose style you relate to – and you can hire him to execute a custom project for you.
                        </p>

                        <p><strong>How much does it cost to get a paper from PhDessay.com?</strong> – Our prices are
                            more than affordable for the kind of usefulness we provide. And because we work with
                            many writers – this drives the competition up and prices down.</p>

                        <p>So you can keep suffering with the essays just like most of the freshmen do, or you can
                            go with a new way of writing research papers, term papers or any other written
                            assignments. Simply use our free essays to fine tune your projects or let us help draft
                            your custom order!</p>


                    </div>

                </div>
                <!-- End Article -->


            </div>


            <div class="col-md-4 col-sm-5 phdessay__sidebar">

                <div class="phdessay__widget phdessay__widget-search hidden-xs">
                    <form role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-submit phdessay-form-button">Search</button>
                    </form>

                    <hr>
                </div>

                <div class="phdessay__widget phdessay__widget-posts">
                    <h4 class="phdessay__title phdessay__widget-title">
                        Latest Blog Posts
                    </h4>
                    <div class="phdessay__widget-body">

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/1.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Short Essay Writing: Make Your Essay Brief and
                                    Informative</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Writing Services Online: Resolving Ethical Concerns in
                                    Writing</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Ex-Google VP: Android is the reason your phone takes worse
                                    pics than iPhone</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Bored programmers on Reddit are competing to tell the
                                    nerdiest coder joke</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Latin American women in tech are fighting back against
                                    'machista' culture</a></div>
                            </div>
                        </article>

                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-tag-cloud">
                    <h4 class="phdessay__title phdessay__widget-title">Most Popular Tags</h4>
                    <div class="phdessay__tagcloud tagcloud">
                        <a href="" class="text-style-1">America</a>
                        <a href="" class="text-style-2">American</a>
                        <a href="" class="text-style-3">Analysis</a>
                        <a href="" class="text-style-4">Behavior</a>
                        <a href="" class="text-style-5">Business</a>
                        <a href="" class="text-style-6">Childhood</a>
                        <a href="" class="text-style-7">College</a>
                        <a href="" class="text-style-8">Communication</a>
                        <a href="" class="text-style-7">Company</a>
                        <a href="" class="text-style-6">Computer</a>
                        <a href="" class="text-style-5">Crime</a>
                        <a href="" class="text-style-4">Culture</a>
                        <a href="" class="text-style-3">Development</a>
                        <a href="" class="text-style-2">Discrimination</a>
                        <a href="" class="text-style-1">Economics</a>
                        <a href="" class="text-style-2">Education</a>
                        <a href="" class="text-style-3">Employment</a>
                        <a href="" class="text-style-4">Family</a>
                        <a href="" class="text-style-5">Health</a>
                        <a href="" class="text-style-6">Healthcare</a>
                        <a href="" class="text-style-7">History</a>
                        <a href="" class="text-style-8">Human</a>
                        <a href="" class="text-style-1">Leadership</a>
                        <a href="" class="text-style-2">Management</a>
                        <a href="" class="text-style-3">Marketing</a>
                        <a href="" class="text-style-4">People</a>
                        <a href="" class="text-style-5">Psychology</a>
                        <a href="" class="text-style-6">Story</a>
                        <a href="" class="text-style-7">Theory</a>
                        <a href="" class="text-style-8">War</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-cta">
                    <div class="sidebar__cta">
                        <div class="title">
                            BUY<br/>
                            ESSAY
                        </div>
                        <a href="#" class="btn btn-success" rel="nofollow">Order Now</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-recent">
                    <h4 class="phdessay__title phdessay__widget-title">Recent Essays</h4>
                    <ul class="phdessay__widget-recent-essays">
                        <li><a href="#">The Problems of British Society</a></li>
                        <li><a href="#">Euro Disney Intercultural Management</a></li>
                        <li><a href="#">Systems, Processes, Education And Training: Help For Nurses To Promote Patient
                            Safety</a></li>
                        <li><a href="#">Network Design Proposal</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Legal Drama Movies</a></li>
                        <li><a href="#">The secret to raising smart kids</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Courts of the Tampa Bay Area</a></li>
                        <li><a href="#">The Role and Proceedings in a magistrate’s court</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>

<div id="shares"></div>

//= template/footer.html

