//= template/head.html

<section class="page phdessay__page phdessay__single-blog">
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="front-page.html" itemprop="item">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="essays.html" itemprop="item">
                            <span itemprop="name">Blog</span>
                        </a>
                    </li>
                    <li class="active">
                        Googler’s anti-diversity manifesto highlights the need for diversity in tech
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1 class="site-title">
                    Googler’s anti-diversity manifesto highlights the need for diversity in tech
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-7">

                <!-- articles -->
                <div class="phdessay__single-blog-content">

                    <p>
                        Unlike most of us, people at Google had a less-than-relaxing weekend because of a document
                        authored and shared widely within the company by a male employee. It was a 10-page manifesto
                        proclaiming the need to dismantle diversity programs within the organization.
                    </p>

                    <p>
                        The screed, titled ‘Google’s Ideological Echo Chamber’, describes some misguided notions about
                        psychological differences between men and women, and cites those as the reasons for the
                        underrepresentation of women in engineering and leadership roles in the tech industry. It also
                        talks about how those with conservative views are silenced in progressive work environments, and
                        that their voices should be heard more.
                    </p>


                    <!-- CTA -->

                    <div class="phdessay__blog-cta">
                        <div class="title-top">Need essay sample on</div>
                        <div class="title-main">"Googler’s anti-diversity manifesto
                            highlights the need for diversity" ?
                        </div>
                        <div class="title-middle">We will write a custom essay sample specifically</div>
                        <div class="title-bottom">for you for only <strong>$13.90/page</strong></div>
                        <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                    </div>

                    <!-- End CTA -->

                    <p>
                        Unlike most of us, people at Google had a less-than-relaxing weekend because of a document
                        authored and shared widely within the company by a male employee. It was a 10-page manifesto
                        proclaiming the need to dismantle diversity programs within the organization.
                    </p>

                    <div class="phdessay__article-share-tosee row">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <p>Share to See the Full Document:</p>
                            </div>
                            <div class="col-md-6">
                                <ul class="share-tosee">
                                    <li class="fb">
                                        <a href="#"></a>
                                    </li>
                                    <li class="tw">
                                        <a href="#"></a>
                                    </li>
                                    <li class="gpl">
                                        <a href="#"></a>
                                    </li>
                                    <li class="pint">
                                        <a href="#"></a>
                                    </li>
                                    <li class="ln">
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="phdessay__article-full">
                        <p>
                            It is really interesting to note that Emily Dickinson once wrote to Thomas Wentworth
                            Higginson of The Atlantic Monthly sometime in 1862 “Are you too deeply occupied to say that
                            my verse is alive? ” No doubt, A. C. Ward had called her “perhaps next to Whitman the
                            greatest American poet of the last century. ” Emily Dickinson had a checkered life of love
                            and frustration or love and a sense of loss before 1958 when she had withdrawn from the
                            society , keeping herself cooped up in her father’s residence at Amherst, Massachusetts. She
                            used to write and preserve the poems in small volumes,- in her own coinage ‘fascicles’.
                        </p>
                        <h2>Biography Of Emily Dickinson</h2>
                        <p>
                            It is really interesting to note that Emily Dickinson once wrote to Thomas Wentworth
                            Higginson of The Atlantic Monthly sometime in 1862 “Are you too deeply occupied to say that
                            my verse is alive? ” No doubt, A. C. Ward had called her “perhaps next to
                        </p>
                        <h3>
                            It was the disembodied mind, walking alone…
                        </h3>
                        <p>Emily Dickinson had a checkered life of love and frustration or love and a sense of loss
                            before 1958 when she had withdrawn from the society , keeping herself cooped up in her
                            father’s residence at Amherst, Massachusetts. She used to write and preserve the poems in
                            small volumes,- in her own coinage ‘fascicles’.</p>
                    </div>

                </div>

                <!-- End Article -->
                <div class="related">
                    <div class=" related__essays">
                        <h4>
                            Related Posts
                        </h4>
                        <ul>
                            <li><a href="single-essay.html">Life in ancient Greece and medieval Europe</a></li>
                            <li><a href="single-essay.html">Long Term Health Care</a></li>
                            <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                            <li><a href="single-essay.html">My position with flatworld</a></li>
                            <li><a href="single-essay.html">Movie Response – Oklahoma Featuring Hugh Jackman</a></li>
                            <li><a href="single-essay.html">Marvin Bower</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-5 phdessay__sidebar">

                <div class="phdessay__widget phdessay__widget-search hidden-xs">
                    <form role="search" method="get" action="/">
                        <div class="form-input-fields">
                            <input value="" name="s" type="search" placeholder="Enter key words" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-submit phdessay-form-button">Search</button>
                    </form>

                    <hr>
                </div>

                <div class="phdessay__widget phdessay__widget-posts">
                    <h4 class="phdessay__title phdessay__widget-title">
                        Latest Blog Posts
                    </h4>
                    <div class="phdessay__widget-body">

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/1.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Short Essay Writing: Make Your Essay Brief and
                                    Informative</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Writing Services Online: Resolving Ethical Concerns in
                                    Writing</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Ex-Google VP: Android is the reason your phone takes worse
                                    pics than iPhone</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/2.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Bored programmers on Reddit are competing to tell the
                                    nerdiest coder joke</a></div>
                            </div>
                        </article>

                        <article class="row">
                            <div class="col-xs-3">
                                <a href=""><img src="img/side/3.jpg" class="img-responsive"
                                                alt="Short Essay Writing: Make Your Essay Brief and Informative"></a>
                            </div>
                            <div class="col-xs-9">
                                <div class="title"><a href="">Latin American women in tech are fighting back against
                                    'machista' culture</a></div>
                            </div>
                        </article>

                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-tag-cloud">
                    <h4 class="phdessay__title phdessay__widget-title">Most Popular Tags</h4>
                    <div class="phdessay__tagcloud tagcloud">
                        <a href="" class="text-style-1">America</a>
                        <a href="" class="text-style-2">American</a>
                        <a href="" class="text-style-3">Analysis</a>
                        <a href="" class="text-style-4">Behavior</a>
                        <a href="" class="text-style-5">Business</a>
                        <a href="" class="text-style-6">Childhood</a>
                        <a href="" class="text-style-7">College</a>
                        <a href="" class="text-style-8">Communication</a>
                        <a href="" class="text-style-7">Company</a>
                        <a href="" class="text-style-6">Computer</a>
                        <a href="" class="text-style-5">Crime</a>
                        <a href="" class="text-style-4">Culture</a>
                        <a href="" class="text-style-3">Development</a>
                        <a href="" class="text-style-2">Discrimination</a>
                        <a href="" class="text-style-1">Economics</a>
                        <a href="" class="text-style-2">Education</a>
                        <a href="" class="text-style-3">Employment</a>
                        <a href="" class="text-style-4">Family</a>
                        <a href="" class="text-style-5">Health</a>
                        <a href="" class="text-style-6">Healthcare</a>
                        <a href="" class="text-style-7">History</a>
                        <a href="" class="text-style-8">Human</a>
                        <a href="" class="text-style-1">Leadership</a>
                        <a href="" class="text-style-2">Management</a>
                        <a href="" class="text-style-3">Marketing</a>
                        <a href="" class="text-style-4">People</a>
                        <a href="" class="text-style-5">Psychology</a>
                        <a href="" class="text-style-6">Story</a>
                        <a href="" class="text-style-7">Theory</a>
                        <a href="" class="text-style-8">War</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-cta">
                    <div class="sidebar__cta">
                        <div class="title">
                            BUY<br/>
                            ESSAY
                        </div>
                        <a href="#" rel="nofollow" class="btn btn-success">Order Now</a>
                    </div>
                </div>

                <div class="phdessay__widget phdessay__widget-recent">
                    <h4 class="phdessay__title phdessay__widget-title">Recent Essays</h4>
                    <ul class="phdessay__widget-recent-essays">
                        <li><a href="#">The Problems of British Society</a></li>
                        <li><a href="#">Euro Disney Intercultural Management</a></li>
                        <li><a href="#">Systems, Processes, Education And Training: Help For Nurses To Promote Patient
                            Safety</a></li>
                        <li><a href="#">Network Design Proposal</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Legal Drama Movies</a></li>
                        <li><a href="#">The secret to raising smart kids</a></li>
                        <li><a href="#">Huck Finn Censorship Synthesis</a></li>
                        <li><a href="#">Courts of the Tampa Bay Area</a></li>
                        <li><a href="#">The Role and Proceedings in a magistrate’s court</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>


<div id="shares"></div>


//= template/footer.html

